/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 70px 15px 0;
  font-size: 15.5px;
  font-weight: 500;
}
.container .text-muted {
  margin: 20px 0;
} 

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.search {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*#oferecimentos{*/
/*  border-top: 3px solid #ccc;*/
/*  border-bottom: 3px solid #ccc;*/
/*  border-radius: 4px;*/
/*} */

.table-fixed {
  margin-top:3px;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  border-radius: 4px;
}

.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  margin-left: 50px;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
  margin-left:10px;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
/*  border-bottom-width: 0;*/
}


.searchtable {
/*  overflow: scroll;*/
/*  border-collapse:collapse;*/
/*  width:100%;*/
/*  margin-top: 20px;*/
}

.searchtable > thead > tr {
/*  display:block;*/
/*  background-color: #eee;*/
}


.searchtable > thead > tr > th {
/*  min-width:290px;*/
/*  padding:5px;*/
/*  background-color: #eee;*/

/*  border: 3px solid #ccc;*/
/*  border-radius: 4px;*/
/*  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
/*  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
/*  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;*/
/*  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
/*  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}



.list {
/*  max-height: 400px;*/
/*  overflow-y: scroll;*/
/*  max-width: 400px;*/
/*  position: absolute;*/
}

.list > tr {
/*  display:block;*/
/*  background-color: #eee;*/
}

.list > tr > td {
/*  min-width:290px;*/
/*  padding-left:5px;*/
/*  padding-top:5px;*/
/*  margin-top:3px;*/
/*  color: #555;*/
/*  background-color: #fff;*/
/*  background-image: none;*/
/*  border: 1px solid #ccc;*/
/*  border-radius: 4px;*/
/*  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
/*  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
/*  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;*/
/*  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
/*  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}


.nav.navbar-nav>li>a {
  font-size: 16px;
  font-weight: 800;
  color: #333;
}
