$def with (Page, Elements)

<!DOCTYPE html>

<html>
  <head>
    $:Elements['includes']
    <title>$BaseTitle - $Page['name']</title>
  </head>  
  <body>
    <!-- Fixed navbar -->
    $:Elements['navbar']
    <!-- Begin page content -->
    <div class="container">
      <div class="col-sm-9">
        $:Page['html']  
      </div>

      <div class="col-sm-3 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>About</h4>
          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div class="sidebar-module">
          <h4>Blog</h4>
          <ol class="list-unstyled">
          $for Link in Menus['blog']:
             <li><a href="$Link['link']">$Link['name']</a></li>
          </ol>
        </div>
        <div class="sidebar-module">
          <h4>Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
    $:Elements['footer']
  </body>
</html>
