$def with (Render)
$ S = sessionmaker(bind=DB)()

<!DOCTYPE html>
<html>
<head>
  $:Render.includes()
  <title>$BaseTitle</title>
</head>
<body>
  <!-- Fixed navbar -->
  $:Render.navbar(Render.user_id)
  <!-- Begin page content -->
  <div class="container">
    <div class="full-height-row">
      <div class="col-sm-12">
      <div class="row">
        <h4> O que é o GDA?</h4>
        <div class="col-sm-6">
        <p class="text-justify">
          O Grupo Discente de Avaliação é formado por alunos da Faculdade de Engenharia Elétrica e de Computação da UNICAMP.
          Nosso trabalho é reunir informações sobre as disciplinas ministradas a cada semestre e apresentá-las de forma compreensível e construtiva.
          Essa página foi feita para substituir os antigos guias impressos.
        </p>
      </div>
      <div class="col-sm-6">
        <h5>Objetivos</h5>
        <ul class="fa-ul text-justify">
          <li><i class="fa-li fa fa-angle-right"></i> Fornecer um guia para que os alunos possam se preparar melhor para o curso.  </li>
          <li><i class="fa-li fa fa-angle-right"></i> Estabelecer uma ferramenta eficiente de feedback entre alunos e professores.  </li>
          <li><i class="fa-li fa fa-angle-right"></i> Disponibilizar a consulta aberta a avaliação oficial dos professores.</li>
        </ul>
    </div>
  </div>
  <br>
  <div class="row" id="dados">
    <div class="col-sm-4">
      <h4> De onde vem nossos dados?</h4>
      <a href="http://www.dac.unicamp.br/portal/servicos_online/" target="_blank">
        <img class="img-responsive" src="static/images/dac.png" alt="DAC">
      </a>
      Os dados das avaliações foram fornecidos pela FEEC. Os dados sobre as matrículas em oferecimentos foram obtidos a partir de consultas públicas ao site da
      <a class="black-link" href="http://www.dac.unicamp.br/portal/servicos_online/" target="_blank">
      <b>DAC</b></a>. Não temos acesso a dados privados dos alunos.
    </div>
    <div class="col-sm-3 col-sm-offset-2">
      <h3> <i class="fa fa-university fa-2x"></i></h3>
      <p class="small">
        2012 - 2016
      </p>
      <h5> Estatísticas FEEC</h5>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-book"></i> $S.query(Subject).count() disciplinas</li>
        <li><i class="fa-li fa fa-child"></i> $S.query(Teacher).count() professores </li>
        <li><i class="fa-li fa fa-pencil-square-o"></i>$S.query(Offering).count() oferecimentos em $S.query(Semester).count() semestres  </li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h3> <i class="fa fa-line-chart fa-2x"></i></h3>
      <br>
      <h5> Nossos Dados</h5>
      <ul class="fa-ul">
        <li><i class="fa-li  fa fa-users"></i>$S.query(Student).count() estudantes cadastrados  </li>
        <li><i class="fa-li  fa fa-check-square-o"></i> $S.query(StudentRate).count() avaliações submetidas</li>
        <li><i class="fa-li  fa fa-commenting"></i> $(S.query(TeacherComment).count() + S.query(OfferingComment).count()) comentários</li>
      </ul>
    </div>
  </div>
</div>
</div>

<div class="full-height-row">
  <div class="col-sm-12">
    <div class="row">
      <h4>  Avaliação </h4>
      <div class="col-sm-6">
        <p class="text-justify" > <strong>A avaliação oficial</strong> feita pela coordenação da FEEC pode ser consultada pelos links:
          <div class="well well-sm">
            <i class="fa fa-file-text-o"></i> &nbsp; <a href="https://drive.google.com/folderview?id=0B8SJcJVfl_c4cXlDWENLWDYxMW8&usp=sharing" class="black-link" target="_blank">
              Relatórios semestrais</a>
              <br>
              <i class="fa fa-pencil"></i> &nbsp; <a href="https://drive.google.com/file/d/0B8SJcJVfl_c4OUs1ZXgyTkJibGM/view?usp=sharing" class="black-link" target="_blank">
                Questionário Teoria</a>
                <br>
                <i class="fa fa-flask"></i> &nbsp;<a href="https://drive.google.com/file/d/0B8SJcJVfl_c4UTZXS2ZFTkJBb3c/view?usp=sharing" class="black-link" target="_blank">
                  Questionário Laboratório</a>
                </div>
              </p>
              <p class="text-justify"> Observação: As avaliacões oficias de um semestre são liberadas somente no meio do semestre seguinte, por isso ainda não temos os dados do semestre atual.</p>
              Aqui no GDA, disponilizaremos dados oficias relativos aos seguintes critérios:
              <div class="panel panel-default">
                <table class="table table-condensed">
                  <tr>
                    <td class="col-sm-6"> <b>A</b> &nbsp; Planejamento da Bibliografia  </td>
                    <td class="col-sm-6"> <b>D</b> &nbsp; Relacionamento com alunos  </td>
                  </tr>
                  <tr>
                    <td class="col-sm-6"> <b>B</b> &nbsp; Didática e Técnica de Ensino </td>
                    <td class="col-sm-6"> <b>E</b> &nbsp; Adequação da avaliação   </td>
                  </tr>
                  <tr>
                    <td class="col-sm-6"> <b>C</b> &nbsp; Interesse pelo Aluno  </td>
                    <td class="col-sm-6"> <b>F</b> &nbsp; Contribuição para aprendizado  </td>
                  </tr>
                </table>
              </div>
      </div>
      <div class="col-sm-6">
        <p class="text-justify">
          Os critérios <strong>Pontualidade</strong>, <strong>Assiduidade</strong> e <strong>Cumprimento do Programa</strong> não foram considerados
          porque todos os docentes receberam nota máxima em todas as avaliações consideradas.
          Não consideramos a <strong>Média Global</strong> porque quereremos evitar que os professores sejam rankeados.
          O critério <strong>Atendimento Extra-classe</strong> também não foi considerado porque acreditamos que esses dados trazem mais informações
          sobre os auxiliares PED ou PAD e não especificamente sobre o docente.
          Além disso, as perguntas sobre esse critério não foram respondidas em muitos casos.
        </p>


        <p class="text-justify"> <strong>A nossa avaliação</strong> contém algumas perguntas que seriam equivalentes aos critérios da avaliação oficial.
          Isso nos possibilita fornecer uma fonte alternativa de dados e ainda questionar o formato atual da avaliação oficial.
          Além disso, criamos perguntas para avaliar a <strong>disciplina</strong>, não somente o docente. Também disponibilizamos espaços para <strong>comentários</strong>,
          que julgamos mais importantes do que as perguntas objetivas, porque estes podem conter informações muito mais relevantes e específicas.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="full-height-row" id="contato">
  <div class="col-sm-12">
    <div class="row">
      <h4>  Contato </h4>
      <div class="col-sm-4">
        <p class="text-justify">
          <h5><i class="fa fa-envelope" style="color:#2196f3;"></i> &nbsp; gdaunicamper@gmail.com</h5>
          Tem alguma crítica ou sugestão?
          <br>
          Encontrou alguma coisa errada?
          <br>
          Tem interesse em ajudar?
          <br>
          Fale conosco.
        </p>
      </div>
      <div class="col-sm-8 text-center">
        <div class="col-sm-4">
          <img src="static/images/faraj.png" class="img-circle" alt="" width="50" height="50">
          <h5> Ali Faraj </h5>
            <div class="text-left">
              <i class="fa fa-facebook-square"></i> &nbsp; /faraj7
              <br>
              <i class="fa fa-envelope"></i> &nbsp; faraj7g@gmail.com
            </div>
        </div>
        <div class="col-sm-4">
          <img src="static/images/bira.jpg" class="img-circle" alt="" width="50" height="50">
          <h5> Raul Cecato </h5>
          <div class="text-left">
              <i class="fa fa-facebook-square"></i> &nbsp; /raul.cecato
              <br>
              <i class="fa fa-envelope"></i> &nbsp; raulcecato@gmail.com
              </div>
        </div>
        <div class="col-sm-4">
          <img src="static/images/hu3.png" class="img-circle" alt="" width="50" height="50">
          <h5> Gabriel Luis </h5>
          <div class="text-left">
              <i class="fa fa-facebook-square"></i> &nbsp; /gabriel.luis.felic
              <br>
              <i class="fa fa-envelope"></i> &nbsp; xuztaz@gmail.com
              </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <h4>  Apoio </h4>
      <div class="col-sm-6">
      <div class="text-center">
        <a href="https://www.facebook.com/IEEE-Student-Branch-Unicamp-274162865931184/" target="_blank">
          <img src="static/images/logoieee.jpg" alt="IEEE" width="100" height="100">
        </a>
        &nbsp;
        <a href="http://www.cabs.fee.unicamp.br/" target="_blank">
          <img src="static/images/logocabs.jpg" alt="CABS" width="100" height="100">
        </a>
      </div>
    </div>
    <div class="text-center col-sm-6">
    <a class="black-link" href="http://www.github.com/faraj7/gda" target="_blank">
     <i class="fa fa-github fa-4x" style="color:#2196f3;"></i>
     <br>
     Conheça este projeto no GitHub
    </a>
  </div>
    </div>
  </div>
</div>

  </div> <!-- container -->
  $:Render.footer()
</body>
</html>
