$def with (Render)


<!DOCTYPE html>
<html>
<head>
  $:Render.includes()
  <title>$BaseTitle</title>
</head>
<body>
  <!-- Fixed navbar -->
  $:Render.navbar(Render.user_id)
  <!-- Begin page content -->
  <div class="container">
  <div class="col-sm-6 text-center">
  <br>
  <a class="black-link" href=""><i class="fa fa-code big-icon"></i></a>
  <h5> <a class="black-link" href=""> Projeto </a></h4>
  Entre em contato com nossa equipe e descubra como você pode ajudar.
  <br>
</div>
<div class="col-sm-6 text-center">
<br>
<a class="black-link" href=""><i class="fa fa-envelope-o big-icon"></i></a>
<h5> <a class="black-link" href=""> Contato </a></h4>
Entre em contato com nossa equipe e descubra como você pode ajudar.
<br>
</div>
</div>

$:Render.footer()
</body>
</html>
