$def with (ThisComments)

$ S = sessionmaker(bind=DB)()

<div class="comment-box">
  <div id="comment-listing">
    $for Comment in ThisComments:
      $ AboutOffer = S.query(Offering).filter(Offering.id == Comment.offering_id).one()
      $ OfferLink = AboutOffer.EncodeURL()
      <div>
        <b>$Comment.user.student.name</b> sobre
        <a class="black-link" href="$OfferLink"><b>$AboutOffer.subject.code
         $(AboutOffer.semester.sem)s$(AboutOffer.semester.year)</b></a>
         $if (Comment.user_id == Render.user_id):
          <a href="$Comment.offering.EvaluationURL()" class="btn btn-default btn-sm"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
         $Comment.text
      </div>
  </div>
</div>
