$def with (OfferingInst, Render)

$ S = sessionmaker(bind=DB)()

$ ThisTeacher = S.query(Teacher).filter(Teacher.id == OfferingInst.teacher_id).one()

$ already_evaluated = S.query(StudentRate).filter(StudentRate.user_id == Render.user_id).filter(StudentRate.offering_id == OfferingInst.id).count()

<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <!-- <link rel="stylesheet" href="/static/form.css"> -->
    <title>$BaseTitle - Avaliar $OfferingInst.subject.code</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar(Render.user_id)
    <!-- Begin page content -->
    <div class="container">
          <h3> $OfferingInst.subject.code $OfferingInst.code - $OfferingInst.subject.name</h3>
    <div class="row">
        <div class="col-sm-4">
          <h4>Professor: $ThisTeacher.name</h4>
        </div>
        <div class="col-sm-5">
          <h6 class="text-muted small"> <br>Deixe em branco as perguntas que você não souber responder</h6>
        </div>
        <div class="col-sm-3">
            <h4 class="text-right"> $OfferingInst.semester.semº semestre de $OfferingInst.semester.year </h4>
        </div>
    </div>
    <div class="row">
      $if already_evaluated:
        <div class="col-sm-2"> </div>
        <div class="col-sm-8">
          <br><br>
          <h3 class="text-center"> <i class="fa fa-check-square-o fa-lg text-primary"></i> &nbsp; Você já avaliou esse oferecimento!
            <br><br>
            <a role="button" class="btn btn-primary btn-block" href="$OfferingInst.EncodeURL()"> <i class="fa fa-arrow-left"></i> Voltar</a>
          </h3>
        </div>
        <div class="col-sm-2"> </div>
      $else:
        $:Render.form()
    </div>
    </div>
    $:Render.footer()
    <!-- <script src="/static/form.js"></script> -->
  </body>
</html>
