<footer class="footer desktop">
  <div class="container">
    <p class="text-footer text-center">
      <!--
      <i>Copyleft</i> sob os termos <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons BY SA</a>.
    -->
    <a class="black-link" href="/sobre">
      Grupo Discente de Avaliação
    </a>
    &nbsp; - &nbsp;
    <a class="black-link" href="/sobre#contato">
      Entre em contato
    </a>
  </p>
</div>
</footer>

<footer class="footer mobile">
  <div class="container">
    <p class="text-footer text-center">
      <a class="black-link" href="/sobre">
      <b>G</b>você<b>D</b>perdeu<b>A</b>
    </a>
  </p>
</div>
</footer>
