<footer class="footer">
  <div class="container">
    <p class="text-footer text-center">
      <!--
      <i>Copyleft</i> sob os termos <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons BY SA</a>.
    -->
    <a class="black-link" href="/sobre">
      Grupo Discente de Avaliação
    </a>
    &nbsp; - &nbsp;
    <a class="black-link" href="http://www.github.com/faraj7/gda" target="_blank">
      Conheça este projeto
    </a>
    &nbsp; - &nbsp;
    <a class="black-link" href="/estatisticas">
      Confira nossas estatísticas
    </a>
  </p>
</div>
</footer>
