$def with (Form, Error, Render)

<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - GDA</title>

  </head>
  <body>
    $if Error != "":
      <script>BootstrapDialog.show({type: BootstrapDialog.TYPE_DANGER, size: BootstrapDialog.SIZE_SMALL, title: 'Erro', message: '$:Error' });</script>
    <!-- Begin page content -->
    <div class="container login">
      <div class="col-lg-9">
        <h1> GDA </h1>
      </div>
      <div class="col-lg-3">
        <form class="form-signin" method="POST" action="/esqueci">
          <h2 class="form-signin-heading">Recuperação de Senha</h2>
          <label for="email" class="sr-only">E-mail</label>
          <input type="text" class="form-control" placeholder="Email cadastrado" name="email" required autofocus>
          <!--
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Lembre-me
            </label>
          </div>
        -->
          <br>
          <button class="btn btn-primary btn-block" type="submit">Ajuda Luciano</button>
        </form>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-footer text-center">
         <a class="black-link" href="http://www.github.com/faraj7/gda">
          Grupo Discente de Avaliação &nbsp; - &nbsp; Conheça este projeto</a> </p>
      </div>
    </footer>
  </body>
</html>
