<!--
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
-->
<!--
Cosmo, Flatly, Lumen, Paper, Readable, Simplex, Yeti
-->
<link rel="stylesheet" href="/static/css/bootstrap/paper.min.css">

<link rel="shortcut icon" href="/static/favicon-mortarboard.ico" />

<script src="/static/js/jquery-2.1.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/js/sorttable.js"></script>
<script src="/static/js/jquery.stickytableheaders.min.js"></script>
<script src="/static/js/scrollable.js"></script>
<script src="/static/js/clickable-row.js"></script>

<script src="/static/js/list.min.js"></script>
<!--
<link href="http://allfont.net/allfont.css?fonts=pricedown&effects=outline" rel="stylesheet" type="text/css" />
-->
<link rel="stylesheet" href="/static/css/pricedown.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">

<!--
<script src="/static/js/jquery.multipage.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.multipage.css" />
-->

<!-- MODAL LOG IN -->
<link rel="stylesheet" href="/static/css/bootstrap-dialog.min.css">
<script src="/static/js/bootstrap-dialog.min.js"></script>


<script src="/static/js/plotly-latest.min.js"></script>

<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<script src="/static/js/jquery-ui.min.js"></script>


<!--

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/flick/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script
        src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"
			  integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI="
			  crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
-->
<!-- CUSTOM -->
<link rel="stylesheet" href="/static/css/style.css">
