$def with (Render)

$ S = sessionmaker(bind=DB)()

$ MyUser = S.query(User).filter(User.id == Render.user_id).one()

$ Ratings = S.query(StudentRate).filter(StudentRate.user_id == MyUser.id).join(StudentRate.offering).join(Offering.semester).order_by(desc((Semester.year)*2 + Semester.sem))

$ Ratings = S.query(Enrollment).filter(Enrollment.student_id == MyUser.id).join(Enrollment.offering).join(Offering.semester).order_by(desc((Semester.year)*2 + Semester.sem))

$ Enrolls = S.query(Enrollment).filter(Enrollment.student_id == MyUser.id)

$ FaceLoger = S.query(FaceUser).filter(FaceUser.user_id == MyUser.id).count()

<!DOCTYPE html>
<html>
<head>
  $:Render.includes()
  <title>$BaseTitle</title>
</head>
<body>
  <!-- Fixed navbar -->
  $:Render.navbar(Render.user_id)
  <!-- Begin page content -->
  <div class="container desktop">
      <div class="col-sm-4">
        <br>
        <a href="http://www.cabs.fee.unicamp.br/?t=52_GDA" target="_blank">
          <img class="img-responsive" src="/static/images/old/GDA$random.randrange(1,16)_capa.jpg" alt="gda">
        </a>
      </div>
  <div class="col-sm-4" id="oferecimentos">
    <br>
    <div class="panel-group" id="accordion">
    $ i=0
    $for thissemester in S.query(Semester).order_by(desc((Semester.year)*2 + Semester.sem)):
      $ EnrollSemester = S.query(Enrollment).filter(Enrollment.student_id == MyUser.id).join(Enrollment.offering).filter(Offering.semester_id == thissemester.id)
      $if EnrollSemester.count():
        $ i = i + 1
        $ semesterRated = 0
        $for enroll in EnrollSemester:
          $ semesterRated = semesterRated + S.query(StudentRate).filter(StudentRate.user_id == MyUser.id).filter(StudentRate.offering_id == enroll.offering_id).count()
        $if semesterRated == EnrollSemester.count():
          $ lab = "label-default"
        $else:
          $ lab = "label-primary"
        <div class="panel panel-default">
           <div class="panel-heading accordion-toggle panel-index" data-toggle="collapse" data-parent="#accordion" href="#collapse$(i)" style="">
             <h4 class="panel-title">
               $(thissemester.year).$(thissemester.sem)
               <span class="label $(lab) pull-right">
                 <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                 $(semesterRated) de $(EnrollSemester.count())</span>
             </h4>
           </div>
           $if(i==1):
            $ panel_show_hide = "panel-collapse collapse in"
          $else:
            $ panel_show_hide = "panel-collapse collapse"
           <div id="collapse$(i)" class="$(panel_show_hide)">
               <table class="table table-condensed table-hover">
                 <tbody class="list">
                  $for enroll in EnrollSemester:
                     $ URL = enroll.offering.EncodeURL()
                     <tr>
                       <td><a class = "black-link" href="$URL">$(enroll.offering.subject.code)$enroll.offering.code</a></td>
                       <td><a class = "black-link" href="$enroll.offering.teacher.EncodeURL()">$enroll.offering.teacher.name</a></td>
                       $if S.query(StudentRate).filter(StudentRate.user_id == MyUser.id).filter(StudentRate.offering_id == enroll.offering_id).count():
                          <td> <a href="$URL" class="btn btn-default btn-sm"><i class="fa fa-check-square-o" aria-hidden="true"></i></a></td>
                       $else:
                          <td> <a href="$enroll.offering.EvaluationURL()" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                     </tr>
                 </tbody>
               </table>
           </div>
         </div>
  </div>
</div>
<div class="col-sm-4">
  <br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> Amigos que usam o GDA <span class="badge" id="friends"> </span> </h3>
  </div>
  <div class="panel-body" id="imagediv">
</div>
</div>
</div>
</div>
<div class="container mobile">
    <div class="panel-group" id="maccordion">
    $ i=0
    $for thissemester in S.query(Semester).order_by(desc((Semester.year)*2 + Semester.sem)):
      $ EnrollSemester = S.query(Enrollment).filter(Enrollment.student_id == MyUser.id).join(Enrollment.offering).filter(Offering.semester_id == thissemester.id)
      $if EnrollSemester.count():
        $ i = i + 1
        $ semesterRated = 0
        $for enroll in EnrollSemester:
          $ semesterRated = semesterRated + S.query(StudentRate).filter(StudentRate.user_id == MyUser.id).filter(StudentRate.offering_id == enroll.offering_id).count()
        $if semesterRated == EnrollSemester.count():
          $ lab = "label-default"
        $else:
          $ lab = "label-primary"
        <div class="panel panel-default">
           <div class="panel-heading accordion-toggle panel-index" data-toggle="collapse" data-parent="#maccordion" href="#mcollapse$(i)" style="">
             <h4 class="panel-title">
               $(thissemester.year).$(thissemester.sem)
               <span class="label $(lab) pull-right">
                 <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                 $(semesterRated) de $(EnrollSemester.count())</span>
             </h4>
           </div>
           $if(i==1):
            $ panel_show_hide = "panel-collapse collapse in"
          $else:
            $ panel_show_hide = "panel-collapse collapse"
           <div id="mcollapse$(i)" class="$(panel_show_hide)">
               <table class="table table-condensed table-hover">
                 <tbody class="list">
                  $for enroll in EnrollSemester:
                     $ URL = enroll.offering.EncodeURL()
                     <tr>
                       <td><a class = "black-link" href="$URL">$(enroll.offering.subject.code)$enroll.offering.code</a></td>
                       <td><a class = "black-link" href="$enroll.offering.teacher.EncodeURL()">$enroll.offering.teacher.name</a></td>
                       $if S.query(StudentRate).filter(StudentRate.user_id == MyUser.id).filter(StudentRate.offering_id == enroll.offering_id).count():
                          <td> <a href="$URL" class="btn btn-default btn-sm"><i class="fa fa-check-square-o" aria-hidden="true"></i></a></td>
                       $else:
                          <td> <a href="$enroll.offering.EvaluationURL()" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                     </tr>
                 </tbody>
               </table>
           </div>
         </div>
  </div>
</div>
$:Render.footer()
</body>
</html>

<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      //TODO document.getElementById('status').innerHTML = 'Please log ' +
        //'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      // TODO document.getElementById('status').innerHTML = 'Please log ' +
        //'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1685706398346162',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    FB.api('/me/friends', function(response) {
      var id;
      var name;
      var lenght = response.data.length;
      jQuery('#friends').html(lenght);
      var i=0;
      var tag_img;
      var tag_name;
      var ra;
      var img;
      var imglink;
      var thumbdiv;
      var fb_string = "";
      for (i=0; i<lenght; i++){
        fb_string = fb_string + response.data[i].id + " ";
      }
      jQuery.get( "http://0.0.0.0:8080/whichra", {"face_id":fb_string }, function( data ) {
        ra_array = data.split(" ");
        fb_array = fb_string.split(" ");
        var len = ra_array.length;
        for (i =0; i<len; i++){
          img = jQuery('<img/>').attr('src', ProfileUrl(fb_array[i])).addClass("img-responsive img-rounded");
          imglink = jQuery('<a/>').attr('href', "/estudantes/" + ra_array[i]).append(img);
          thumbdiv = jQuery('<div/>').addClass("col-lg-3 col-md-4 col-xs-6 thumb").append(imglink);
          thumbdiv.appendTo(jQuery('#imagediv'));
        }
      });
  });
  }

  function ProfileUrl(id){
    var m = "http://graph.facebook.com/"+id+"/picture";
    return m;
  };

  function VerifyRA(fb_id){
    var data;
    jQuery.get( "http://0.0.0.0:8080/whichra", {"face_id": fb_id}, function( data ) {
      console.log(data);
      //return data;
    });
    return data;
  };

  jQuery('#imagediv').slimScroll({
      height: '65vh'
  });
</script>
