<div class="panel panel-default small" id="legend-boxplot">
  <div class="panel-heading"> <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>  &nbsp; Avaliação oficial </div>
  <table class="table table-condensed">
    <tr>
      <td> <b>A</b> </td><td> Planejamento da Bibliografia  </td>
    </tr>
    <tr>
      <td> <b>B</b> </td><td> Didática e Técnica de Ensino </td>
    </tr>
    <tr>
      <td> <b>C</b> </td><td> Interesse pelo Aluno  </td>
    </tr>
    <tr>
      <td> <b>D</b> </td><td> Relacionamento com alunos  </td>
    </tr>
    <tr>
      <td> <b>E</b> </td><td> Adequação da avaliação   </td>
    </tr>
    <tr>
      <td> <b>F</b> </td><td> Contribuição para aprendizado  </td>
    </tr>
  </table>
</div>
<a class="black-link" data-toggle="modal" href="#explainModal">
  <i class="fa fa-question-circle" aria-hidden="true"></i> Não entendi o gráfico
</a>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="explainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Interpretando um gráfico Box-Plot</h4>
      </div>
      <div class="modal-body">
      <div id="explain" style="width: 400px;">
      </div>
      </div>
      <div class="modal-footer">
        <a href="https://pt.wikipedia.org/wiki/Diagrama_de_caixa" target="_blank" class="btn btn-default"><i class="fa fa-external-link" aria-hidden="true"></i> Ainda não entendi</a>
        <button type="button" class="btn btn-success" data-dismiss="modal">Entendi</button>
      </div>
    </div>
  </div>
</div>


<script>

explainplot("explain")

</script>
