<div class="panel panel-default small" id="legend-boxplot">
  <div class="panel-heading"> <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>  &nbsp; Avaliação oficial </div>
  <table class="table table-condensed">
    <tr>
      <td> <b>A</b> </td><td> Planejamento da Bibliografia  </td>
    </tr>
    <tr>
      <td> <b>B</b> </td><td> Didática e Técnica de Ensino </td>
    </tr>
    <tr>
      <td> <b>C</b> </td><td> Interesse pelo Aluno  </td>
    </tr>
    <tr>
      <td> <b>D</b> </td><td> Relacionamento com alunos  </td>
    </tr>
    <tr>
      <td> <b>E</b> </td><td> Adequação da avaliação   </td>
    </tr>
    <tr>
      <td> <b>F</b> </td><td> Contribuição para aprendizado  </td>
    </tr>
  </table>
</div>
