$def with (Form, Error, Render)

$ S = sessionmaker(bind=DB)()

<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - Log In</title>

  </head>
  <body>

    $if Error != "":
      <script>BootstrapDialog.show({type: BootstrapDialog.TYPE_DANGER, size: BootstrapDialog.SIZE_SMALL, title: 'Erro', message: '$:Error' });</script>
    <!-- Begin page content -->
    <div class="container login">
      <div class="col-sm-3 center-block text-center">
        <h1 class="font-effect-outline" style="font-size:96px;">gda</h1>
        <div id="facelog"></div>
        <br>
        <form class="form-signin" method="POST" action="/login">
          <label for="ra" class="sr-only">RA</label>
          <input type="text" class="form-control" placeholder="RA" name="ra" required autofocus id="ra_id">
          <label for="senha" class="sr-only">Senha</label>
          <input type="password" class="form-control" placeholder="Senha" name="senha" required id="psw_id">
          <label for="face_id" class="sr-only">face_id</label>
          <input type="hidden" class="form-control" placeholder="Facebook Id" name="face_id" id="fb_id">
          <!--
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Lembre-me
            </label>
          </div>
        -->
          <br>
          <button class="btn btn-primary btn-block" id="submit_id" type="submit">Entrar</button>
        </form>
        <br>
        <a class="btn btn-block btn-social btn-facebook" onclick="fb_login();">
          <span class="fa fa-facebook"></span> Continuar com Facebook
        </a>

        <br>
        <ul class="fa-ul text-justify">
          <li><i class="fa fa-user-plus fa-lg"></i> <a class="black-link" href="/registrar"> &nbsp; Não sou cadastrado </a></li>
          <li><i class="fa fa-question-circle fa-lg"></i> <a class="black-link" href="/esqueci"> &nbsp; Esqueci minha senha </a> </li>
        </ul>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-footer text-center">
         <a class="black-link" href="http://www.github.com/faraj7/gda">
          Grupo Discente de Avaliação &nbsp; - &nbsp; Conheça este projeto</a> </p>
      </div>
    </footer>
  </body>
</html>

<script>
function fb_login(){
  FB.login(function(response) {
      if (response.authResponse) {
          //console.log('Welcome!  Fetching your information.... ');
          console.log(response); // dump complete info
          //access_token = response.authResponse.accessToken; //get access token
          user_id = response.authResponse.userID; //get FB UID
          jQuery.get( "/whichra", {"face_id": user_id}, function( data ) {
            if(data == "000000"){
              // facebook not connected, user most log in with password
              jQuery('.btn-facebook').hide();
              var img = jQuery('<img/>').attr('src',"http://graph.facebook.com/"+user_id+"/picture").attr('height', "50px").attr('width', "50px").addClass("img-rounded");
              var hello = jQuery('<p/>').html("Olá! Para conectar sua conta do Facebook a sua conta do GDA entre com seu RA e senha.").addClass("text-left");
              jQuery('#facelog').append(img);
              jQuery('#facelog').append(hello);
              jQuery('#fb_id').val(user_id);
            }
            else{
              // facebook account is connected, log user
              jQuery.post( "/facelogin", {"face_id": user_id});
              location.reload();
            }
          });
      } else {
          //user hit cancel button
          console.log('User cancelled login or did not fully authorize.');
          BootstrapDialog.show({type: BootstrapDialog.TYPE_DANGER, size: BootstrapDialog.SIZE_SMALL, title: 'Erro', message: 'Algo de errado não está certo com seu login no Facebook. Por favor, tente novamente ou entre em contato.' });
      }
  }, {
      scope: 'public_profile,email,user_friends'
  });
}
</script>
<!--
<script>
function fb_login(){
    var ra_input = jQuery("#ra_id").val();
    jQuery.get( "http://www.gdaunicamp.com/fbconnected", {"ra_id": ra_input }, function( data ) {
      if (data == "not-registered"){
        BootstrapDialog.show({type: BootstrapDialog.TYPE_DANGER, size: BootstrapDialog.SIZE_SMALL, title: 'Erro', message: 'O RA informado não está cadastrado no GDA.' });
      }
      else if (data == "not-connected"){
        BootstrapDialog.show({type: BootstrapDialog.TYPE_DANGER, size: BootstrapDialog.SIZE_SMALL, title: 'Erro', message: 'Sua conta no GDA ainda não está conectada a uma conta no Facebook. Faça login com sua senha do GDA e conecte sua conta na seção Altere seus dados.' });
      }
      else{
        FB.login(function(response) {
            if (response.authResponse) {
                console.log('Welcome!  Fetching your information.... ');
                //console.log(response); // dump complete info
                //access_token = response.authResponse.accessToken; //get access token
                user_id = response.authResponse.userID; //get FB UID
                if(user_id == data){
                  jQuery.post( "http://www.gdaunicamp.com/login", {"face_id": user_id});
                  window.location.replace("http://www.gdaunicamp.com/index");
                }
                else{
                  BootstrapDialog.show({type: BootstrapDialog.TYPE_DANGER, size: BootstrapDialog.SIZE_SMALL, title: 'Erro', message: 'A conta que você logou com Facebook não confere com a conta que está conectada com sua conta no GDA.' });
                }
            } else {
                //user hit cancel button
                console.log('User cancelled login or did not fully authorize.');
                BootstrapDialog.show({type: BootstrapDialog.TYPE_DANGER, size: BootstrapDialog.SIZE_SMALL, title: 'Erro', message: 'Algo de errado não está certo com seu login no Facebook. Por favor, tente novamente ou entre em contato.' });
            }
        }, {
            scope: 'public_profile,email,user_friends'
        });
      }
    });
  }
</script>
-->
