$def with (Form, Error, Render)

$ S = sessionmaker(bind=DB)()

<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - Log In</title>

  </head>
  <body>
    <script>
      // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          testAPI();
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          //TODO document.getElementById('status').innerHTML = 'Please log ' +
            //'into this app.';
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
          // TODO document.getElementById('status').innerHTML = 'Please log ' +
            //'into Facebook.';
        }
      }

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      window.fbAsyncInit = function() {
      FB.init({
        appId      : '1685706398346162',
        cookie     : true,  // enable cookies to allow the server to access
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.2' // use version 2.2
      });

      // Now that we've initialized the JavaScript SDK, we call
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
          document.getElementById('status').innerHTML =
            'Thanks for logging in, ' + response.name + '!';
        });
        FB.api('/me', function(response) {
            jQuery("#ra_id").val(" ");
            jQuery("#psw_id").val(" ");
            jQuery("#fb_id").val(response.id);
            jQuery("#submit_id").click();
        });
      }
    </script>

    $if Error != "":
      <script>BootstrapDialog.show({type: BootstrapDialog.TYPE_DANGER, size: BootstrapDialog.SIZE_SMALL, title: 'Erro', message: '$:Error' });</script>
    <!-- Begin page content -->
    <div class="container login">
      <div class="col-sm-5"></div>

      <div class="col-sm-2 text-center">
        <h1 class="font-effect-outline" style="font-size:96px;">gda</h1>
        <br>
        <form class="form-signin" method="POST" action="/login">
          <label for="ra" class="sr-only">RA</label>
          <input type="text" class="form-control" placeholder="RA" name="ra" required autofocus id="ra_id">
          <label for="senha" class="sr-only">Senha</label>
          <input type="password" class="form-control" placeholder="Senha" name="senha" required id="psw_id">
          <label for="face_id" class="sr-only">face_id</label>
          <input type="hidden" class="form-control" placeholder="Facebook Id" name="face_id" id="fb_id">
          <!--
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Lembre-me
            </label>
          </div>
        -->
          <br>
          <button class="btn btn-primary btn-block" id="submit_id" type="submit">Entrar</button>
        </form>
        <br><br>
        $ aux = S.query(FaceUser).filter(FaceUser.user_id == 1).count()
        $if aux==1:
          <fb:login-button scope="public_profile,email,user_friends" onlogin="checkLoginState();">
          </fb:login-button>
        $else:
          <h8>Caso queira vincular sua conta do gda à do facebook, acesse a seção de Alteração de Dados do site</h8>

        <div id="status">
        </div>
        <p> <i class="fa fa-user-plus fa-lg"></i> <a class="black-link" href="/registrar"> &nbsp; Não sou cadastrado </a></p>
        <p> <i class="fa fa-question-circle fa-lg"></i> <a class="black-link" href="/esqueci"> &nbsp; Esqueci minha senha </a></p>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-footer text-center">
         <a class="black-link" href="http://www.github.com/faraj7/gda">
          Grupo Discente de Avaliação &nbsp; - &nbsp; Conheça este projeto</a> </p>
      </div>
    </footer>
  </body>
</html>
