$def with (Me)

$ S = sessionmaker(bind=DB)()

$ SemestersList = S.query(Semester).order_by(desc((Semester.year)*2 + Semester.sem))
$ TeachersList = S.query(Teacher).order_by(Teacher.name)
$ SubjectsList = S.query(Subject).order_by(Subject.code)

$ MyUser = S.query(User).filter(User.id == Me).one()

<script>
// This is called with the results from from FB.getLoginStatus().
function statusChangeCallback(response) {
  console.log('statusChangeCallback');
  console.log(response);
  // The response object is returned with a status field that lets the
  // app know the current login status of the person.
  // Full docs on the response object can be found in the documentation
  // for FB.getLoginStatus().
  if (response.status === 'connected') {
    // Logged into your app and Facebook.
  } else if (response.status === 'not_authorized') {
    // The person is logged into Facebook, but not your app.
    document.getElementById('status').innerHTML = 'Please log ' +
      'into this app.';
  } else {
    // The person is not logged into Facebook, so we're not sure if
    // they are logged into this app or not.
    document.getElementById('status').innerHTML = 'Please log ' +
      'into Facebook.';
  }
}

// This function is called when someone finishes with the Login
// Button.  See the onlogin handler attached to it in the sample
// code below.
function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}

window.fbAsyncInit = function() {
FB.init({
  appId      : '1685706398346162',
  cookie     : true,  // enable cookies to allow the server to access
                      // the session
  xfbml      : true,  // parse social plugins on this page
  version    : 'v2.2' // use version 2.2
});

// Now that we've initialized the JavaScript SDK, we call
// FB.getLoginStatus().  This function gets the state of the
// person visiting this page and can return one of three states to
// the callback you provide.  They can be:
//
// 1. Logged into your app ('connected')
// 2. Logged into Facebook, but not your app ('not_authorized')
// 3. Not logged into Facebook and can't tell if they are logged into
//    your app or not.
//
// These three cases are handled in the callback function.

FB.getLoginStatus(function(response) {
  statusChangeCallback(response);
});

};

// Load the SDK asynchronously
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

jQuery(document).ready(function(){
  $ u = S.query(FaceUser).filter(FaceUser.user_id == MyUser.id);
  $if u.count()==0:
    jQuery("#user_img").attr("src","/static/images/student.png");
    jQuery("#muser_img").attr("src","/static/images/student.png");
  $else:
    $ j = u.one()
    $ k = j.face_id
    jQuery("#user_img").attr("src",ProfileUrl($k));
    jQuery("#muser_img").attr("src",ProfileUrl($k));
  jQuery("#logout").click(function() {
    FB.logout();
  });
});

function ProfileUrl(id){
  var m = "http://graph.facebook.com/"+JSON.stringify(id)+"/picture";
  return m;
};

</script>
<nav class="navbar navbar-inverse navbar-fixed-top desktop">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand font-effect-outline" href="/index">gda</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/disciplinas">Disciplinas</a></li>
        <li><a href="/docentes">Docentes</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Semestre <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            $ count = 0
            $for Line in SemestersList:
              $ URL = Line.EncodeURL()
              $ Name = u'%sº semestre de %s' % (Line.sem, Line.year)
              <li><a href="$URL">$Name</a></li>
              $ count += 1
              $if count == 15:
                $ break
                <li class="divider"></li>
                  <li><a href="/oferecimentos">Escolher outro semestre</a></li>
          </ul>
        </li>
        <!--
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/faq">FAQ</a></li>
        -->
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input id="autocomplete" class="form-control" placeholder="Busca" type="text">
        </div>
        <button type="submit" class="btn" style="background-color:inherit; box-shadow:none; color:white" ><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <img src="" width="28" height="28" class="img-rounded" id="user_img" ></img>  &nbsp;
              $MyUser.student.name.split()[0] <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="$MyUser.student.EncodeURL()">Meu Perfil</a></li>
              <li><a href="/user">Alterar meus dados</a></li>
            </ul>
          </li>
          <li><a href="/logout" id="logout">Sair &nbsp; <i class="fa fa-sign-out"></i></a></li>
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<nav class="navbar navbar-inverse navbar-fixed-top mobile">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mnavbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nnavbar" aria-expanded="false" aria-controls="navbar" style="color:white">
          <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        </button>
      <a class="navbar-brand font-effect-outline" href="/index">gda</a>
    </div>
    <div id="mnavbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="$MyUser.student.EncodeURL()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img src="" width="28" height="28" class="img-rounded" id="muser_img" ></img>  &nbsp;
            $MyUser.student.name.split()[0]
          </a>
        </li>
        <li><a href="/user">Alterar meus dados</a></li>
        <li><a href="/logout" id="logout">Sair &nbsp; <i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
    <div id="nnavbar" class="collapse navbar-collapse">
        <form class="navbar-form" role="search">
          <div class="form-group">
            <input id="autocomplete" class="form-control" placeholder="Busca por disciplina ou docente" type="text" autofocus>
          </div>
        </form>
    </div>
  </div>
</nav>
<script>
jQuery.widget( "custom.catcomplete", jQuery.ui.autocomplete, {
  _create: function() {
    this._super();
    this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
  },
  _renderMenu: function( ul, items ) {
    var that = this,
      currentCategory = "";
    jQuery.each( items, function( index, item ) {
      var li;
      if ( item.category != currentCategory ) {
        ul.append( "<li class='ui-autocomplete-category'> <b>" + item.category  + " </b> </li>" );
        currentCategory = item.category;
      }
      li = that._renderItemData( ul, item );
      if ( item.category ) {
        li.attr( "aria-label", item.category + " : " + item.label );
      }
    });
  }
});
</script>
<script>
   jQuery(document).ready(function() {
     var accentMap = {
        "á": "a",
        "ô": "o"
      };
      var normalize = function( term ) {
        var ret = "";
        for ( var i = 0; i < term.length; i++ ) {
          ret += accentMap[ term.charAt(i) ] || term.charAt(i);
        }
        return ret;
      };
     var data = [
       $for Line in TeachersList:
         $ Name = Line.name
         $ URL = Line.EncodeURL()
          { label: "$Name", url: '$URL', category: "Professores"},
       $for Line in SubjectsList:
         $ Name = '%s - %s' % (Line.code, Line.name)
         $ URL = Line.EncodeURL()
          { label: "$Name", url: '$URL',  category: "Disciplinas"},
     ];
    jQuery("input#autocomplete").catcomplete({
        delay: 100,
        autoFocus: true,
        minLength: 3,
        source: data,
        source: function( request, response ) {
          var matcher = new RegExp( "\\b" + jQuery.ui.autocomplete.escapeRegex( request.term ), "i" );
          response( jQuery.grep( data, function( value ) {
            value = value.label || value.value || value;
            return matcher.test( value ) || matcher.test( normalize( value ) );
          }) );
        },
        select: function (event, ui) {
            window.location = ui.item.url;
        }
    });
});
 </script>

 <script>
//  jQuery("nav.navbar-fixed-top").autoHidingNavbar();
</script>
