$def with (Me)

$ S = sessionmaker(bind=DB)()

$ SemestersList = S.query(Semester).order_by(desc((Semester.year)*2 + Semester.sem))

$ MyUser = S.query(User).filter(User.id == Me).one()

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand font-effect-outline" href="/">gda</a>
      <!--
      <a href="/">
        <img src="/static/logo.png" style="height:55px;padding:5px;margin-right:20px;">
      </a>
    -->
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/disciplinas">Disciplinas</a></li>
        <li><a href="/docentes">Docentes</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Oferecimentos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            $ count = 0
            $for Line in SemestersList:
              $ URL = Line.EncodeURL()
              $ Name = u'%sº semestre de %s' % (Line.sem, Line.year)
              <li><a href="$URL">$Name</a></li>
              $ count += 1
              $if count == 15:
                $ break
                <li class="divider"></li>
                  <li><a href="/oferecimentos">Escolher outro semestre</a></li>
          </ul>
        </li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="$MyUser.student.EncodeURL()"> <i class="fa fa-graduation-cap"></i> $MyUser.student.name </a></li>
          <li><a href="/logout">Log Out <i class="fa fa-sign-out"></i></a></li>
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
