$def with (OfferingInst, Render, form, already_evaluated)

$ S = sessionmaker(bind=DB)()

$ ThisOfferings = S.query(Offering).filter(Offering.semester == OfferingInst.semester).join(Offering.subject).order_by(Subject.code)
$ quest1 = []
$ quest2 = []
$ quest3 = []
$ quest4 = []
$ quest5 = []
$ quest6 = []
$for Line in ThisOfferings:
  $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Line.id)
  $for Rate in SearchRate:
    $ quest1.append(Rate.question1)
    $ quest2.append(Rate.question2)
    $ quest3.append(Rate.question3)
    $ quest4.append(Rate.question4)
    $ quest5.append(Rate.question5)
    $ quest6.append(Rate.question6)

$ ThisOfferings = S.query(Offering).filter(Offering.teacher == OfferingInst.teacher).join(Offering.subject).order_by(Subject.code)
$ teacher1 = []
$ teacher2 = []
$ teacher3 = []
$ teacher4 = []
$ teacher5 = []
$ teacher6 = []
$for Line in ThisOfferings:
  $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Line.id)
  $for Rate in SearchRate:
    $ teacher1.append(Rate.question1)
    $ teacher2.append(Rate.question2)
    $ teacher3.append(Rate.question3)
    $ teacher4.append(Rate.question4)
    $ teacher5.append(Rate.question5)
    $ teacher6.append(Rate.question6)

$ ThisOfferings = S.query(Offering).filter(Offering.subject == OfferingInst.subject).join(Offering.subject).order_by(Subject.code)
$ subject1 = []
$ subject2 = []
$ subject3 = []
$ subject4 = []
$ subject5 = []
$ subject6 = []
$for Line in ThisOfferings:
  $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Line.id)
  $for Rate in SearchRate:
    $ subject1.append(Rate.question1)
    $ subject2.append(Rate.question2)
    $ subject3.append(Rate.question3)
    $ subject4.append(Rate.question4)
    $ subject5.append(Rate.question5)
    $ subject6.append(Rate.question6)

$ yDataQ = [quest1, quest2, quest3, quest4, quest5, quest6]
$ yDataT = [teacher1, teacher2, teacher3, teacher4, teacher5, teacher6]
$ yDataS = [subject1, subject2, subject3, subject4, subject5, subject6]

$ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == OfferingInst.id)
$ Rated = 0

$for Line in SearchRate:
  $ Rate = Line
  $ Rated = 1
$ ThisOfferingRating = [Rate.question1,Rate.question2,Rate.question3,Rate.question4,Rate.question5,Rate.question6]

$ ThisComments = S.query(OfferingComment).filter(OfferingComment.offering == OfferingInst)
$ ThisTeacher = S.query(Teacher).filter(Teacher.id == OfferingInst.teacher_id).one()

$ display_line = S.query(OfferingDisplay).filter(OfferingDisplay.offering_id == OfferingInst.id).one()
$ sum_line = S.query(AnswerSum).filter(AnswerSum.offering_id == OfferingInst.id).one()

$ StudentList = S.query(Enrollment).filter(Enrollment.offering_id == OfferingInst.id).join(Enrollment.student).order_by(Student.ra)
$ UserId = S.query(User).filter(User.id == Render.user_id).one().student_id
$ EnrollmentList = S.query(Enrollment).filter(Enrollment.student_id == UserId).filter(Enrollment.offering_id == OfferingInst.id)
$ Enrolled = EnrollmentList.count()
<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - $OfferingInst.subject.code$OfferingInst.code $(OfferingInst.semester.sem)s$OfferingInst.semester.year</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar(Render.user_id)
    <!-- Begin page content -->
    <div class="container">
      <div class="row">
        <div class="text-center col-sm-6" id="heading">
          <h5>
            $OfferingInst.subject.code $OfferingInst.code
            <a class="black-link" href="$OfferingInst.subject.EncodeURL()">
              $OfferingInst.subject.name</a>
              <br>
              Professor: <a class="black-link" href="$ThisTeacher.EncodeURL()">
                $ThisTeacher.name
              </a>
              <br>
              $OfferingInst.semester.semº semestre de $OfferingInst.semester.year
            </h5>
          </div>
          <div class="col-sm-2" id="avaliar">
            $if already_evaluated:
              <a href="$OfferingInst.EvaluationURL()" class="btn btn-success" role="button">Modificar avaliação</a>
            $else:
              $if(Enrolled==1):
                <a href="$OfferingInst.EvaluationURL()" class="btn btn-primary" role="button">Avaliar oferecimento</a>
              $else:
                <a class="btn btn-primary" role="button" disabled>Você não pode avaliar este oferecimento</a>
          </div>
        </div>

          <div id="oficial">
            $if Rated:
              <div class="row">
                <div id="semestre" class="col-sm-3">
                  <h5 class="text-center"> $(OfferingInst.semester.sem)s$(OfferingInst.semester.year)</h5>
                  <div id="graphQ"></div>
                </div>
                <div id="profs" class="col-sm-3">
                  <h5 class="text-center"> $ThisTeacher.name </h5>
                  <div id="graphT"></div>
                </div>
                <div id="subject" class="col-sm-3">
                  <h5 class="text-center"> $OfferingInst.subject.code </h5>
                  <div id="graphS"></div>
                </div>
                <div class="col-sm-3">
                  <div class="panel panel-default">
                    <div class="panel-heading">Avaliação Oficial - $Rate.answers respostas de $OfferingInst.students matriculados</div>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="col-sm-9"> Planejamento da Bibliografia </td>
                          <td class="text-right"> $Rate.question1 </td>
                        </tr>
                        <tr>
                          <td> Didática e Técnica de Ensino </td>
                          <td class="text-right"> $Rate.question2 </td>
                        </tr>
                        <tr>
                          <td> Interesse pelo Aluno </td>
                          <td class="text-right"> $Rate.question3 </td>
                        </tr>
                        <tr>
                          <td> Relacionamento com alunos </td>
                          <td class="text-right"> $Rate.question4 </td>
                        </tr>
                        <tr>
                          <td> Adequação da avaliação </td>
                          <td class="text-right"> $Rate.question5 </td>
                        </tr>
                        <tr>
                          <td> Contribuição para aprendizado </td>
                          <td class="text-right"> $Rate.question6 </td>
                        </tr>
                        <tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            $else:
              <p class="text-muted"> Ainda não foi avaliado. </p>
            </div>
          <div id="gda">
                <div class="tab-content">
                <div class="row">
                  <h4 class="text-center"> Perguntas sobre a Disciplina </h4> <br>
                  <div class="col-sm-6">
                    $:Render.questionyesno(sum_line.q1_sim,sum_line.q1_nao, "A disciplina é necessária ao currículo?")
                    $:Render.questionlowmedhigh(sum_line.q3_longa,sum_line.q3_adequada,sum_line.q3_curta, "Como você avalia a ementa da disciplina?", "fa fa-book", "danger","primary","success")
                  </div>
                  <div class="col-sm-6">
                    $:Render.questionlowmedhigh(sum_line.q4_alta,sum_line.q4_normal,sum_line.q4_baixa," Como você avalia a dedicação exigida pela disciplina?","fa fa-clock-o", "danger","primary","success")
                    $:Render.questionlowmedhigh(sum_line.q5_dificil,sum_line.q5_normal,sum_line.q5_facil,"Como você avalia a dificuldade inerente à disciplina?", "fa fa-bomb", "danger","primary","success")
                  </div>
                </div>
                <div class="row">
                    <h4 class="text-center"> Perguntas sobre o Docente </h4> <br>
                  <div class="col-sm-6">
                    $:Render.questionlowmedhigh(sum_line.q6_dificil,sum_line.q6_normal,sum_line.q6_facil,"Como você avalia a dificuldade inerente ao professor?", "fa fa-bomb", "danger","primary","success")
                    $:Render.questionlowmedhigh(sum_line.q8_boa,sum_line.q8_media,sum_line.q8_ruim, "Como você avalia a didática do professor?", "fa fa-star", "success","primary","danger")
                    $:Render.questionyesno(sum_line.q7_sim,sum_line.q7_nao, "A bibliografia recomendada foi adequada?")
                    $:Render.questionyesno(sum_line.q9_sim,sum_line.q9_nao, "O professor se preocupou em tornar as aulas interessantes?")
                  </div>
                  <div class="col-sm-6">
                    $:Render.questionyesno(sum_line.q10_sim,sum_line.q10_nao, " O professor se mostrou acessível para tirar dúvidas?")
                    $:Render.questionyesno(sum_line.q11_sim,sum_line.q11_nao, "As avaliações foram coerentes?")
                    $:Render.questionyesno(sum_line.q12_sim,sum_line.q12_nao, "Ir às aulas foi importante?")
                    $:Render.questionyesno(sum_line.q13_sim,sum_line.q13_nao, "Faria outra disciplina com o professor?")
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
            <div class="col-sm-8" id="comments">
                <div class="panel panel-default">
                  <div class="panel-body text-justify">
                    $if ThisComments.first() != None:
                      $:Render.commentsoffering(ThisComments)
                    $else:
                      <p class="text-center text-muted"> Ainda não há comentários. <p>
                  </div>
                </div>
          </div>
          <div id="students">
            <div class="col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title"> Matriculados <span class="badge">$(StudentList.count())</span> </h3>
                </div>
                <div class="panel-body">
                  $ i = 0
                  $for enroll in StudentList:
                    $ i=i+1
                    <div class="text-center col-sm-3">
                      <a href="/estudantes/$(enroll.student.ra)">
                        <img src="http://lorempixel.com/50/50/people/$(i%10)"
                        class="" alt="ops" width="50" height="50">
                      </a>
                      <p> $(enroll.student.name.split()[0])</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    $:Render.footer()
  </body>
</html>
<script>
  //function boxplot(yData, title_default,title_custom)
  boxplot($(yDataQ), $(ThisOfferingRating) ,"#graphQ" ,"","");
  boxplot($(yDataS), $(ThisOfferingRating) ,"#graphS" ,"","");
  boxplot($(yDataT), $(ThisOfferingRating), "#graphT" ,"","");
</script>
