$def with (Render)

$ S = sessionmaker(bind=DB)()

$ TeachersList = S.query(Teacher).order_by(Teacher.name)
$ Questions = S.query(QuestionsOffering)

<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - Busca de Docentes</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar(Render.user_id)
    <!-- Begin page content -->
    <div class="container" id="docentes">
      <div class="row">
        <div class="col-sm-6">
          <h3>Busca de Docentes</h3>
          <br>
          <input type="text" class="search" placeholder="Busca por nome">
        </div>
          <div class="col-sm-6">
            <br>
            <div class="panel panel-default">
              <table class="table table-condensed">
                  <tr>
                    <td class="col-sm-6"> <b>A</b> &nbsp; Planejamento da Bibliografia  </td>
                    <td> <b>D</b> &nbsp; Relacionamento com alunos  </td>
                  </tr>
                </table>
                <table class="table table-condensed">
                    <tr>
                      <td class="col-sm-6"> <b>B</b> &nbsp; Didática e Técnica de Ensino </td>
                      <td> <b>E</b> &nbsp; Adequação da avaliação   </td>
                    </tr>
                  </table>
                  <table class="table table-condensed">
                      <tr>
                        <td class="col-sm-6"> <b>C</b> &nbsp; Interesse pelo Aluno  </td>
                        <td> <b>F</b> &nbsp; Contribuição para aprendizado  </td>
                      </tr>
                    </table>
            </div>
          </div>
        </div>
        <div class="scrollable-area" style="overflow-y: auto; height:368px;">
          <table class="table table-striped table-condensed sortable table-hover">
            <thead>
              <tr>
                <th class="col-sm-6">Nome</th>
                <th class="col-sm-1"> A </th>
                <th class="col-sm-1"> B </th>
                <th class="col-sm-1"> C </th>
                <th class="col-sm-1"> D </th>
                <th class="col-sm-1"> E </th>
                <th class="col-sm-1"> F </th>
              </tr>
            </thead>
            <tbody class="list">
            $for Line in TeachersList:
              $ Name = Line.name
              $ URL = Line.EncodeURL()
              <tr class='clickable-row' data-url='$URL'>
                <td>
                  <a class="nome black-link" href="$URL">$Name</a>
                </td>
                $ Rated = 0
                $ Q = [0]*6
                $ SearchOffering = S.query(Offering).filter(Offering.teacher == Line)
                $for Offer in SearchOffering:
                  $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Offer.id)
                  $for Rate in SearchRate:
                    $ Q[0] += Rate.question1
                    $ Q[1] += Rate.question2
                    $ Q[2] += Rate.question3
                    $ Q[3] += Rate.question4
                    $ Q[4] += Rate.question5
                    $ Q[5] += Rate.question6
                    $ Rated += 1
                $if Rated:
                  $for i in range(0,6):
                    <td>$(Q[i]/Rated)</td>
                $else:
                  $for i in range(0,6):
                    <td> <i class="fa fa-minus"></i> </td>
              </tr>
            </tbody>
          </table>
        </div>
        <script>
          var options = {
            valueNames: ['nome']
          };
          var userList = new List('docentes', options);
        </script>
      </div>
    </div>
    $:Render.footer()
  </body>
</html>
