$def with (Render)

$ S = sessionmaker(bind=DB)()

$ SubjectsList = S.query(Subject).order_by(Subject.code)
$ Questions = S.query(QuestionsSubject)

<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - Busca de Disciplinas</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar(Render.user_id)
    <!-- Begin page content -->
    <div class="container"  id="disciplinas">
      <div class="row">
        <div class="col-sm-6">
          <h3>Busca de Disciplinas</h3>
          <input type="text" class="search" placeholder="Busca por código, nome ou critério"> <br>
        </div>
      </div>
            <div class="scrollable-area" style="overflow-y: auto; height:400px;">
              <table class="table table-striped table-condensed sortable table-hover">
                <thead>
                  <tr>
                    <th style="width:5%">Código</th>
                    <th>Nome</th>
                    <th style="width:14%" class="text-right"> Necessária </th>
                    <th style="width:14%" class="text-right"> Ementa </th>
                    <th style="width:14%" class="text-right"> Dedicação </th>
                    <th style="width:14%" class="text-right"> Dificuldade </th>

                  </tr>
                </thead>
                <tbody class="list">
                $for Line in SubjectsList:
                  $ URL = Line.EncodeURL()
                  $ line_of_interest = S.query(SubjectDisplay).filter(Line.id == SubjectDisplay.subject_id).one()
                  <tr class="clickable-row" data-url="$URL">
                    <td>
                      <a class="codigo black-link" href="$URL">$Line.code</a>
                    </td>
                    <td>
                      <a class="nome black-link" href="$URL">$Line.name</a>
                    </td>
                    $ s1 = line_of_interest.q1_resp
                    $ p1 = line_of_interest.q1_porc
                    $ q1 = ' %s %d%%' % (s1,p1)
                    $ s3 = line_of_interest.q3_resp
                    $ p3 = line_of_interest.q3_porc
                    $ q3 = ' %s %d%%' % (s3,p3)
                    $ s4 = line_of_interest.q4_resp
                    $ p4 = line_of_interest.q4_porc
                    $ q4 = ' %s %d%%' % (s4,p4)
                    $ s5 = line_of_interest.q5_resp
                    $ p5 = line_of_interest.q5_porc
                    $ q5 = ' %s %d%%' % (s5,p5)
                    $if p1:
                      <td class="text-right">$q1</td>
                    $else:
                      <td class="text-right"><i class="fa fa-minus"></i></td>
                    $if p3:
                      <td class="text-right">$q3</td>
                    $else:
                      <td class="text-right"><i class="fa fa-minus"></i></td>
                    $if p4:
                      <td class="text-right">$q4</td>
                    $else:
                      <td class="text-right"><i class="fa fa-minus"></i></td>
                    $if p5:
                      <td class="text-right">$q5</td>
                    $else:
                      <td class="text-right"><i class="fa fa-minus"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
        <script>
          var options = {
            valueNames: ['codigo','nome','quest1','quest2','quest3','quest4']
          };
          var userList = new List('disciplinas', options);
        </script>
      </div>
    </div>
  </div>
    $:Render.footer()
  </body>
</html>
