$def with (Render)

$ S = sessionmaker(bind=DB)()

$ TeachersList = S.query(Teacher).order_by(Teacher.name)

$ quest1 = []
$ quest2 = []
$ quest3 = []
$ quest4 = []
$ quest5 = []
$ quest6 = []


<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - Docentes</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar(Render.user_id)
    <!-- Begin page content -->
    <div class="container" id="docentes">
		<div class="row">
			<div class="col-sm-6">
				<input type="text" class="search" placeholder="Busca por nome">
			</div>
        </div>
        <div class="row">
        <div class="scrollable-area col-sm-6">
          <table class="table table-striped table-condensed sortable table-hover">
			      <thead>
              <tr>
                <th class="col-sm-5">Nome</th>
                <th> A </th>
                <th> B </th>
                <th> C </th>
                <th> D </th>
                <th> E </th>
                <th> F </th>
              </tr>
            </thead>
            <tbody class="list">
            $for Line in TeachersList:
              $ Name = Line.name
              $ URL = Line.EncodeURL()
              <tr class='clickable-row' data-url='$URL'>
                <td>
                  <a class="docente black-link" href="$URL">$Name</a>
                </td>
                $ Rated = 0
                $ Q = [0]*6
                $ SearchOffering = S.query(Offering).filter(Offering.teacher == Line)
                $for Offer in SearchOffering:
                  $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Offer.id)
                  $for Rate in SearchRate:
                    $ Q[0] += Rate.question1
                    $ Q[1] += Rate.question2
                    $ Q[2] += Rate.question3
                    $ Q[3] += Rate.question4
                    $ Q[4] += Rate.question5
                    $ Q[5] += Rate.question6
                    $ Rated += 1
                $if Rated:
					<td id="q1">$(Q[0]/Rated)</td>
					<td id="q2">$(Q[1]/Rated)</td>
					<td id="q3">$(Q[2]/Rated)</td>
					<td id="q4">$(Q[3]/Rated)</td>
					<td id="q5">$(Q[4]/Rated)</td>
					<td id="q6">$(Q[5]/Rated)</td>
					$ quest1.append(Q[0]/Rated)
					$ quest2.append(Q[1]/Rated)
					$ quest3.append(Q[2]/Rated)
					$ quest4.append(Q[3]/Rated)
					$ quest5.append(Q[4]/Rated)
					$ quest6.append(Q[5]/Rated)
                $else:
                  $for i in range(0,6):
                    <td> <i class="fa fa-minus"></i> </td>

              </tr>
            </tbody>
          </table>
        </div>
		<script>
          var options = {
            valueNames: ['docente']
          };
          var userList = new List('docentes', options);
        </script>
		<div class="col-sm-4">
			<div data-spy="affix">
          <h4 class="text-center" id="graph_title"> <span>Selecione um docente</span> </h4>
					<div id="graph"></div>
			</div>
		</div>
		<div class="col-sm-2">
			<div data-spy="affix">
				<br><br><br><br>
				<div class="panel panel-default">
					<table class="table table-condensed">
						<tr>
							<td> <b>A</b> </td><td> Planejamento da Bibliografia  </td>
						</tr>
						<tr>
							<td> <b>B</b> </td><td> Didática e Técnica de Ensino </td>
						</tr>
						<tr>
							<td> <b>C</b> </td><td> Interesse pelo Aluno  </td>
						</tr>
						<tr>
							<td> <b>D</b> </td><td> Relacionamento com alunos  </td>
						</tr>
						<tr>
							<td> <b>E</b> </td><td> Adequação da avaliação   </td>
						</tr>
						<tr>
							<td> <b>F</b> </td><td> Contribuição para aprendizado  </td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
    $:Render.footer()
  </body>
</html>
$ yData = [quest1 ,quest2 ,quest3 ,quest4 ,quest5 , quest6]
<script>
  //function boxplot(yData, title_default,title_custom)
  yData = $(yData);
  title_default = "Selecione um docente";
  title_custom = [".docente"];
  boxplot(yData, 0 ,"#graph" ,title_default,title_custom);
</script>
