$def with (SemesterInst, Render)

$ S = sessionmaker(bind=DB)()

$ ThisOfferings = S.query(Offering).filter(Offering.semester == SemesterInst).join(Offering.subject).order_by(Subject.code)

$ Questions = S.query(QuestionsOffering)

$ quest1 = []
$ quest2 = []
$ quest3 = []
$ quest4 = []
$ quest5 = []
$ quest6 = []
$for Line in ThisOfferings:
  $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Line.id)
  $for Rate in SearchRate:
    $ quest1.append(Rate.question1)
    $ quest2.append(Rate.question2)
    $ quest3.append(Rate.question3)
    $ quest4.append(Rate.question4)
    $ quest5.append(Rate.question5)
    $ quest6.append(Rate.question6)
$ yData = [quest1 ,quest2 ,quest3 ,quest4 ,quest5 , quest6]


<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - $(SemesterInst.sem)s$SemesterInst.year</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar(Render.user_id)
    <!-- Begin page content -->
    <div class="container" id="oferecimentos">
        <div class="scrollable-area col-sm-6">
          <input type="text" class="search" placeholder="Busca por disciplina ou docente"/>
          <table class="table table-striped table-condensed sortable table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-3"> Código</th>
                    <th class="col-sm-4">Docente</th>
                    <th> A </th>
                    <th> B </th>
                    <th> C </th>
                    <th> D </th>
                    <th> E </th>
                    <th> F </th>
                  </tr>
                </thead>
                <tbody class="list">
                $for Line in ThisOfferings:
                  $ URL = Line.EncodeURL()
                  $ Code = '%s %s' % (Line.subject.code, Line.code)
                  $ Sem = '%ss%s' % (Line.semester.sem, Line.semester.year)
                  $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Line.id)
                  $ Rated = 0
                  $for Lin in SearchRate:
                    $ Rate = Lin
                    $ Rated = 1
                  <tr class="clickable-row" data-url="$URL" data-toggle="tooltip" title="$Line.subject.name">
                    <td><a class = "black-link" href="$URL"> <span class="codigo"> $(Line.subject.code) </span> $(Line.code)</a></td>
                    <td><a class = "docente black-link" href="$Line.teacher.EncodeURL()">$Line.teacher.name</a></td>
                    $if Rated:
                      <td id="q1">$Rate.question1</td>
                      <td id="q2">$Rate.question2</td>
                      <td id="q3">$Rate.question3</td>
                      <td id="q4">$Rate.question4</td>
                      <td id="q5">$Rate.question5</td>
                      <td id="q6">$Rate.question6</td>
                    $else:
                      $for i in range(0,6):
                        <td> <i class="fa fa-minus"></i> </td>
                  </tr>
                </tbody>
              </table>
        <script>
          var options = {
            valueNames: ['codigo', 'docente']
          };
          var userList = new List('oferecimentos', options);
        </script>
      </div>
      <div class="col-sm-4">
        <div data-spy="affix">
          <h4 class="text-center" id="graph_title"> <span>Selecione um oferecimento</span> </h4>
          <div id="graph"></div>
        </div>
      </div>
      <div class="col-sm-2">
        <div data-spy="affix">
          <br><br><br><br>
          <div class="panel panel-default">
            <table class="table table-condensed">
              <tr>
                <td> <b>A</b> </td><td> Planejamento da Bibliografia  </td>
              </tr>
              <tr>
                <td> <b>B</b> </td><td> Didática e Técnica de Ensino </td>
              </tr>
              <tr>
                <td> <b>C</b> </td><td> Interesse pelo Aluno  </td>
              </tr>
              <tr>
                <td> <b>D</b> </td><td> Relacionamento com alunos  </td>
              </tr>
              <tr>
                <td> <b>E</b> </td><td> Adequação da avaliação   </td>
              </tr>
              <tr>
                <td> <b>F</b> </td><td> Contribuição para aprendizado  </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    $:Render.footer()
  </body>
</html>
<script>
  //function boxplot(yData, title_default,title_custom)
  yData = $(yData);
  title_default = "Selecione um oferecimento";
  title_custom = [".codigo",".docente"];
  boxplot(yData, title_default,title_custom);
</script>
