$def with (Render)

$ S = sessionmaker(bind=DB)()

$ Students = S.query(Student).order_by(Student.name)

<!DOCTYPE html>
<html>
<head>
  $:Render.includes()
  <title>$BaseTitle</title>
</head>
<body>
  <!-- Fixed navbar -->
  $:Render.navbar(Render.user_id)
  <!-- Begin page content -->
  <div class="container">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div data-spy="affix">
        <br>
        <br>
        <div class="row">
          <div class="col-sm-9">
            <h3> Estatísticas FEEC</h3>
            <ul class="fa-ul" style="font-size:16px">
              <li><i class="fa-li fa fa-book"></i> $S.query(Subject).count() disciplinas</li>
              <li><i class="fa-li fa fa-child"></i> $S.query(Teacher).count() professores </li>
              <li><i class="fa-li fa fa-pencil-square-o"></i>$S.query(Offering).count() oferecimentos em $S.query(Semester).count() semestres  </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <br>
            <h3> <i class="fa fa-university fa-2x"></i></h3>
            <p class="small">
              2012 - 2016
            </p>
          </div>
        </div>

        <br>
        <br>
        <br>

        <div class="row">
          <div class="col-sm-3">
            <br>
            <br>
            <h3> <i class="fa fa-line-chart fa-2x"></i></h3>
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-8">
            <h3> Nossos Dados</h3>
            <ul class="fa-ul" style="font-size:16px">
              <li><i class="fa-li  fa fa-users"></i>$S.query(Student).count() estudantes cadastrados  </li>
              <li><i class="fa-li  fa fa-check-square-o"></i> $S.query(StudentRate).count() avaliações submetidas</li>
              <li><i class="fa-li  fa fa-commenting"></i> $(S.query(TeacherComment).count() + S.query(OfferingComment).count()) comentários</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  $:Render.footer()
</body>
</html>
