$def with (SubjectInst, Render)

$ S = sessionmaker(bind=DB)()

$ ThisOfferings = S.query(Offering).filter(Offering.subject == SubjectInst).join(Offering.semester).order_by(desc((Semester.year)*2 + Semester.sem))

$ ThisTeachers = [Of.teacher for Of in ThisOfferings]

$ quest1 = []
$ quest2 = []
$ quest3 = []
$ quest4 = []
$ quest5 = []
$ quest6 = []
$for Line in ThisOfferings:
  $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Line.id)
  $for Rate in SearchRate:
    $ quest1.append(Rate.question1)
    $ quest2.append(Rate.question2)
    $ quest3.append(Rate.question3)
    $ quest4.append(Rate.question4)
    $ quest5.append(Rate.question5)
    $ quest6.append(Rate.question6)
$ yData = [quest1 ,quest2 ,quest3 ,quest4 ,quest5 , quest6]

$ display_line = S.query(SubjectDisplay).filter(SubjectDisplay.subject_id == SubjectInst.id).one()
$ sum_line = S.query(AnswerSumSubject).filter(AnswerSumSubject.subject_id == SubjectInst.id).one()

$ sum_q1 = sum_line.q1_sim + sum_line.q1_nao
$ sum_q3 = sum_line.q3_curta + sum_line.q3_adequada + sum_line.q3_longa
$ sum_q4 = sum_line.q4_baixa + sum_line.q4_normal + sum_line.q4_alta
$ sum_q5 = sum_line.q5_facil + sum_line.q5_normal + sum_line.q5_dificil
$if sum_q1:
  $ p1 = [(100*sum_line.q1_sim/sum_q1), (100*sum_line.q1_nao/sum_q1)]
  $ q1 = (1.0*sum_line.q1_sim/sum_q1)
$else:
  $ q1 = -1
$if sum_q3:
  $ p3 = [(100*sum_line.q3_curta/sum_q3), (100*sum_line.q3_adequada/sum_q3), (100*sum_line.q3_longa/sum_q3)]
  $ q3 = (0.5*sum_line.q3_adequada + 1.0*sum_line.q3_longa)/sum_q3
$else:
  $ q3 = -1
$if sum_q4:
  $ p4 = [(100*sum_line.q4_baixa/sum_q4), (100*sum_line.q4_normal/sum_q4), (100*sum_line.q4_alta/sum_q4)]
  $ q4 = (0.5*sum_line.q4_normal +  1.0*sum_line.q4_alta)/sum_q4
$else:
  $ q4 = -1
$if sum_q5:
  $ p5 = [(100*sum_line.q5_facil/sum_q5), (100*sum_line.q5_normal/sum_q5), (100*sum_line.q5_dificil/sum_q5)]
  $ q5 = (0.5*sum_line.q5_normal +  1.0*sum_line.q5_dificil)/sum_q5
$else:
  $ q5 = -1

<!DOCTYPE html>
<html>
<head>
  $:Render.includes()

  <title>$BaseTitle - $SubjectInst.code</title>
</head>
<body>
  <!-- Fixed navbar -->
  $:Render.navbar(Render.user_id)
  <!-- Begin page content -->
  <div class="container" id="docentes">
    <h3 class="text-center">$SubjectInst.code -   $SubjectInst.name</h3>
    <div class="row">
      <div class="col-sm-8">
        <p class="text-justify"> Ementa: $SubjectInst.summary</p>
        <p class="text-justify"> $SubjectInst.credits créditos</p>
      </div>
      <div id="gda">
          <div class="col-sm-3">
            <div id="gda-icon">
              <div class="panel">
                <div class="panel-body">

              <p> Conteúdo: <span class="pull-right">$:Render.questionscale(q3, "fa fa-book")</span></p>
              <p> Dedicação: <span class="pull-right"> $:Render.questionscale(q4, "fa fa-clock-o")</span></p>
              <p> Dificuldade: <span class="pull-right"> $:Render.questionscale(q5, "fa fa-bomb")</span></p>
              <p> $(max(sum_q1,sum_q3,sum_q4,sum_q5)) respostas<p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div id="oficial" class="row">
        <div class="col-sm-6">
          <input type="text" class="search" placeholder="Busca por docente ou semestre">
          <table class="table table-striped table-condensed sortable table-hover">
            <thead>
              <tr>
                <th>Semestre</th>
                <th>Turma</th>
                <th><i class="fa fa-users" aria-hidden="true" data-toggle="tooltip" title="Matriculados"></i></th>
                <th>Docente</th>
                <th> A </th>
                <th> B </th>
                <th> C </th>
                <th> D </th>
                <th> E </th>
                <th> F </th>
              </tr>
            </thead>
            <tbody class="list">
              $for Line in ThisOfferings:
                $ URL = Line.EncodeURL()
                $ Code = '%s' % (Line.code)
                $ Enrolled = '%s' % (Line.students)
                $ Sem = '%ss%s' % (Line.semester.sem, Line.semester.year)
                $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Line.id)
                $ Rated = 0
                $for Lin in SearchRate:
                  $ Rate = Lin
                  $ Rated = 1

                <tr class="clickable-row" data-url="$URL">
                  <td><a class="semestre black-link"href="$Line.semester.EncodeURL()">$Sem</a></td>
                  <td>$Code</td>
                  <td>$Enrolled</td>
                  <td><a class="docente black-link" href="$Line.teacher.EncodeURL()">$Line.teacher.name</a></td>
                  $if Rated:
                    <td id="q1">$Rate.question1</td>
                    <td id="q2">$Rate.question2</td>
                    <td id="q3">$Rate.question3</td>
                    <td id="q4">$Rate.question4</td>
                    <td id="q5">$Rate.question5</td>
                    <td id="q6">$Rate.question6</td>
                  $else:
                    $for i in range(0,6):
                      <td> - </td>
                  </tr>
            </tbody>
          </table>
          <script>
          var options = {
            valueNames: ['docente','semestre']
          };
          var userList = new List('docentes', options);
          </script>
        </div>
        <div class="col-sm-4">
          <h4 class="text-center" id="graph_title"> <span>Selecione um Professor</span> </h4>
          <div id="graph"></div>
      </div>
      <div class="col-sm-2">
        $:Render.legendboxplot()
    </div>
      </div>
    </div>
  </div>
$:Render.footer()
</body>
</html>
<script>
  //function boxplot(yData, title_default,title_custom)
  yData = $(yData);
  title_default = "Selecione um docente";
  title_custom = [".docente", ".semestre"];
  boxplot(yData, 0 ,"#graph" ,title_default,title_custom);
</script>
-->
