$def with (TeacherInst, Render)

$ S = sessionmaker(bind=DB)()

$ ThisOfferings = S.query(Offering).filter(Offering.teacher == TeacherInst).join(Offering.semester).order_by(desc((Semester.year)*2 + Semester.sem))

$ ThisComments = S.query(TeacherComment).filter(TeacherComment.teacher == TeacherInst).join(TeacherComment.offering).order_by(Offering.subject_id,TeacherComment.offering_id)

$ UserId = S.query(User).filter(User.id == Render.user_id).one().student_id
$ EnrollmentList = []
$for Line in ThisOfferings:
  $ EnrollmentQuery = S.query(Enrollment).filter(Enrollment.student_id == UserId).filter(Enrollment.offering_id == Line.id)
  $if EnrollmentQuery.count():
    $ EnrollmentList.append(EnrollmentQuery.one())

$ quest1 = []
$ quest2 = []
$ quest3 = []
$ quest4 = []
$ quest5 = []
$ quest6 = []
$for Line in ThisOfferings:
  $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Line.id)
  $for Rate in SearchRate:
    $ quest1.append(Rate.question1)
    $ quest2.append(Rate.question2)
    $ quest3.append(Rate.question3)
    $ quest4.append(Rate.question4)
    $ quest5.append(Rate.question5)
    $ quest6.append(Rate.question6)
$ yData = [quest1 ,quest2 ,quest3 ,quest4 ,quest5 , quest6]

$ display_line = S.query(TeacherDisplay).filter(TeacherDisplay.teacher_id == TeacherInst.id).one()
$ sum_line = S.query(AnswerSumTeacher).filter(AnswerSumTeacher.teacher_id == TeacherInst.id).one()


$ s6 = (sum_line.q6_dificil)+(sum_line.q6_normal)+(sum_line.q6_facil)
$if s6:
  $ q6 = ' %s %s%%' % (display_line.q6_resp, display_line.q6_porc)
$else:
  $ q6 = ""

$ s7 = (sum_line.q7_sim)+(sum_line.q7_nao)
$if s7:
  $ q7 = ' %s %d%%' % (display_line.q7_resp, display_line.q7_porc)
$else:
  $ q7 = ""

$ s8 = (sum_line.q8_boa)+(sum_line.q8_media)+(sum_line.q8_ruim)
$if s8:
  $ q8 = ' %s %d%%' % (display_line.q8_resp, display_line.q8_porc)
$else:
  $ q8 = ""

$ s9 = (sum_line.q9_sim)+(sum_line.q9_nao)
$if s9:
  $ q9 = ' %s %d%%' % (display_line.q9_resp, display_line.q9_porc)
$else:
  $ q9 = ""

$ s10 = (sum_line.q10_sim)+(sum_line.q10_nao)
$if s10:
  $ q10 = ' %s %d%%' % (display_line.q10_resp, display_line.q10_porc)
$else:
  $ q10 = ""

$ s11 = (sum_line.q11_sim)+(sum_line.q11_nao)
$if s11:
  $ q11 = ' %s %d%%' % (display_line.q11_resp, display_line.q11_porc)
$else:
  $ q11 = ""

$ s12 = (sum_line.q12_sim)+(sum_line.q12_nao)
$if s12:
  $ q12 = ' %s %d%%' % (display_line.q12_resp, display_line.q12_porc)
$else:
  $ q12 = ""

$ s13 = (sum_line.q13_sim)+(sum_line.q13_nao)
$if s13:
  $ q13 = ' %s %d%%' % (display_line.q13_resp, display_line.q13_porc)
$else:
  $ q13 = ""

<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - $TeacherInst.name</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar(Render.user_id)
    <!-- Begin page content -->
    <div class="container desktop">
          <div class="row">
            <div class="col-sm-6">
              <h4>$TeacherInst.name </h4>
            </div>
            <div class="col-sm-6">
            <div class="well">
              $if len(EnrollmentList):
                Você cursou:
                $for Line in EnrollmentList:
                   &nbsp; <a class="black-link" href="$Line.offering.EncodeURL()">$Line.offering.subject.code$Line.offering.code</a>
                   em $(Line.offering.semester.year).$(Line.offering.semester.sem)
                    $if S.query(StudentRate).filter(StudentRate.user_id == UserId).filter(StudentRate.offering_id == Line.offering_id).count():
                        <a href="$Line.offering.EvaluationURL()" class="btn btn-default btn-sm" data-toggle="tooltip" title="Você avaliou esse oferecimento">
                          <i class="fa fa-check-square-o" aria-hidden="true"></i></a>
                    $else:
                        <a href="$Line.offering.EvaluationURL()" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Avaliar esse oferecimento">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              $else:
                  Você não cursou disciplinas com esse docente.
            </div>
          </div>
        </div>
        <div id="gda-row" class="row">
        <div id="gda" class="col-sm-6">
                  $:Render.questionyesno(sum_line.q7_sim,sum_line.q7_nao, "A bibliografia recomendada foi adequada?")
                  $:Render.questionyesno(sum_line.q9_sim,sum_line.q9_nao, "O professor se preocupou em tornar as aulas interessantes?")
                  $:Render.questionyesno(sum_line.q10_sim,sum_line.q10_nao, " O professor se mostrou acessível para tirar dúvidas?")
                  $:Render.questionyesno(sum_line.q11_sim,sum_line.q11_nao, "As avaliações foram coerentes?")
        </div>
        <div id="gda" class="col-sm-6">
                  $:Render.questionyesno(sum_line.q12_sim,sum_line.q12_nao, "Ir às aulas foi importante?")
                  $:Render.questionlowmedhigh(sum_line.q6_dificil,sum_line.q6_normal,sum_line.q6_facil,"Como você avalia a dificuldade inerente ao professor?", "fa fa-bomb", "danger","warning","success")
                  $:Render.questionlowmedhigh(sum_line.q8_boa,sum_line.q8_media,sum_line.q8_ruim, "Como você avalia a didática do professor?", "fa fa-star","success","warning","danger")
                  $:Render.questionyesno(sum_line.q13_sim,sum_line.q13_nao, "Faria outra disciplina com o professor?")

        </div>
      </div>
      <div id="offering-row" class="row full-height-row">
        <div class="col-sm-12">
                <div class="col-sm-2">
                    $:Render.legendboxplot()
                </div>
                <div class="col-sm-4">
                  <!-- <h4 class="text-center" id="graph_title"> <span>Selecione um oferecimento</span> </h4> -->
                  <div id="graph"></div>
              </div>
              <div class="col-sm-6">
              <input type="text" class="search" placeholder="Busca por disciplina">
              <div id="offerings">
              <table class="table table-striped table-condensed sortable table-hover">
                <thead>
                  <tr>
                    <th>Semestre</th>
                    <th><i class="fa fa-users" aria-hidden="true" data-toggle="tooltip" title="Matriculados"></i></th>
                    <th>Turma</th>
                    <th class="col-sm-3">Disciplina</th>
                    <th> A </th>
                    <th> B </th>
                    <th> C </th>
                    <th> D </th>
                    <th> E </th>
                    <th> F </th>
                  </tr>
                </thead>
                <tbody class="list">
                $for Line in ThisOfferings:
                  $ URL = Line.EncodeURL()
                  $ Code = '%s' % (Line.code)
                  $ Enrolled = '%s' % (Line.students)
                  $ Sem = '%s.%s' % (Line.semester.year, Line.semester.sem)
                  $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Line.id)
                  $ Rated = 0
                  $for Lin in SearchRate:
                    $ Rate = Lin
                    $ Rated = 1
                  <tr class="clickable-row" data-url='$URL' data-toggle="tooltip" title="$Line.subject.name">
                    <td><a class="semestre black-link" href="$URL">$Sem</a></td>
                    <td>$Enrolled</td>
                    <td>$Code</td>
                    <td><a class="codigo black-link" href="$Line.subject.EncodeURL()" >$Line.subject.code</a></td>
                    $if Rated:
                      <td id="q1">$Rate.question1</td>
                      <td id="q2">$Rate.question2</td>
                      <td id="q3">$Rate.question3</td>
                      <td id="q4">$Rate.question4</td>
                      <td id="q5">$Rate.question5</td>
                      <td id="q6">$Rate.question6</td>
                    $else:
                      $for i in range(0,6):
                        <td> <i class="fa fa-minus"></i> </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
             <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> &nbsp; Fizeram disciplinas com $S.query(TeacherNick).filter(TeacherNick.teacher_id == TeacherInst.id).one().name_short
            </div>
            <div class="panel-body" id="imagediv">
            </div>
          </div>
        </div>
        <div id="comentarios" class="col-sm-8">
            $:Render.comments(ThisComments)
        </div>
      </div>
    </div>

    <div class="container mobile" id="docentes">
          <h4>$TeacherInst.name </h4>
          <div id="user-info">
          <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            $if len(EnrollmentList):
              Você cursou:
              $for Line in EnrollmentList:
                 &nbsp; <a class="black-link" href="$Line.offering.EncodeURL()">$Line.offering.subject.code$Line.offering.code</a>
                 em $(Line.offering.semester.year).$(Line.offering.semester.sem)
                  $if S.query(StudentRate).filter(StudentRate.user_id == UserId).filter(StudentRate.offering_id == Line.offering_id).count():
                      <a href="$Line.offering.EvaluationURL()" class="btn btn-default btn-sm" data-toggle="tooltip" title="Você avaliou esse oferecimento">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i></a>
                  $else:
                      <a href="$Line.offering.EvaluationURL()" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Avaliar esse oferecimento">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            $else:
                Você não cursou disciplinas com esse docente.
          </div>
        </div>
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#mgda-icon" data-toggle="tab"><i class="fa fa-tasks fa-lg" aria-hidden="true"></i></a></li>
          <li><a href="#mcomments" data-toggle="tab"><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i></a></li>
          <li><a href="#mofferings" data-toggle="tab"><i class="fa fa-list-alt fa-lg" aria-hidden="true"></i></a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="mgda-icon">
            $:Render.questionyesno(sum_line.q7_sim,sum_line.q7_nao, "A bibliografia recomendada foi adequada?")
            $:Render.questionyesno(sum_line.q9_sim,sum_line.q9_nao, "O professor se preocupou em tornar as aulas interessantes?")
            $:Render.questionyesno(sum_line.q10_sim,sum_line.q10_nao, " O professor se mostrou acessível para tirar dúvidas?")
            $:Render.questionyesno(sum_line.q11_sim,sum_line.q11_nao, "As avaliações foram coerentes?")
            $:Render.questionyesno(sum_line.q12_sim,sum_line.q12_nao, "Ir às aulas foi importante?")
            $:Render.questionlowmedhigh(sum_line.q6_dificil,sum_line.q6_normal,sum_line.q6_facil,"Como você avalia a dificuldade inerente ao professor?", "fa fa-bomb", "danger","warning","success")
            $:Render.questionlowmedhigh(sum_line.q8_boa,sum_line.q8_media,sum_line.q8_ruim, "Como você avalia a didática do professor?", "fa fa-star","success","warning","danger")
            $:Render.questionyesno(sum_line.q13_sim,sum_line.q13_nao, "Faria outra disciplina com o professor?")
          </div>

          <div class="tab-pane fade" id="mcomments">
            $if ThisComments.count():
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                $for i in range(1,ThisComments.count()):
                  <li data-target="#myCarousel" data-slide-to="$(i)"></li>
                </ol>
                <div class="row">
                  <div>
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        $ i = -1
                        $for Comment in ThisComments:
                              $ i = i + 1
                              $ AboutOffer = S.query(Offering).filter(Offering.id == Comment.offering_id).one()
                              $ OfferLink = AboutOffer.EncodeURL()
                              $ TeacherLink = AboutOffer.teacher.EncodeURL()
                              $if (i):
                                $ act = " "
                              $else:
                                $ act = "active"
                              <div class="item $(act)">
                                <div class="carousel-content">
                                  <blockquote>
                                    <p class="text-justified">$Comment.text</p>
                                    <small><a class="black-link" href="/estudantes/$(Comment.user.student.ra)"><b>$Comment.user.student.name.split()[0]</b></a> sobre
                                      <a class="black-link" href="$TeacherLink"><b>$S.query(TeacherNick).filter(TeacherNick.teacher_id == AboutOffer.teacher_id).one().name_short </b></a>
                                      em <a class="black-link" href="$OfferLink"><b>$AboutOffer.subject.code
                                        $(AboutOffer.semester.year).$(AboutOffer.semester.sem)</b></a></small>
                                      </blockquote>
                                    </div>
                                </div>
                          <!-- Left and right controls -->
                      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            $else:
              <p class="text-muted text-center"> Ainda não há comentários. <p>

          </div>
          <div class="tab-pane fade" id="mofferings">
            <input type="text" class="search" placeholder="Busca por disciplina">
            <div id="offerings">
            <table class="table table-striped table-condensed sortable table-hover">
              <thead>
                <tr>
                  <th>Semestre</th>
                  <th><i class="fa fa-users" aria-hidden="true" data-toggle="tooltip" title="Matriculados"></i></th>
                  <th>Turma</th>
                  <th class="col-sm-3">Disciplina</th>
                </tr>
              </thead>
              <tbody class="list">
              $for Line in ThisOfferings:
                $ URL = Line.EncodeURL()
                $ Code = '%s' % (Line.code)
                $ Enrolled = '%s' % (Line.students)
                $ Sem = '%s.%s' % (Line.semester.year, Line.semester.sem)
                <tr class="clickable-row" data-url='$URL' data-toggle="tooltip" title="$Line.subject.name">
                  <td><a class="semestre black-link" href="$URL">$Sem</a></td>
                  <td>$Enrolled</td>
                  <td>$Code</td>
                  <td><a class="codigo black-link" href="$Line.subject.EncodeURL()" >$Line.subject.code</a></td>
                </tr>
              </tbody>
            </table>
        </div>
          </div>
        </div>
      </div>


    $:Render.footer()
  </body>
</html>
<script>
  //function boxplot(yData, title_default,title_custom)
  yData = $(yData);
  title_default = "Selecione um oferecimento";
  title_custom = [".codigo", ".semestre"];
  boxplot(yData, 0 ,"#graph" ,title_default,title_custom);
</script>
<script>
  var options = {
    valueNames: ['codigo']
  };
  var userList = new List('oferecimentos', options);

  jQuery('#imagediv').slimScroll({
      height: '65vh'
  });

  jQuery('#comments').slimScroll({
      height: '65vh'
  });
  jQuery('#offerings').slimScroll({
      height: '50vh'
  });

  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      //TODO document.getElementById('status').innerHTML = 'Please log ' +
        //'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      // TODO document.getElementById('status').innerHTML = 'Please log ' +
        //'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1685706398346162',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    FB.api('/me/friends', function(response) {
      var lenght = response.data.length;
      var i=0;
      var fb_string = "";
      for (i=0; i<lenght; i++){
        fb_string = fb_string + response.data[i].id + " ";
      }
      var thisTeacher = $(TeacherInst.id)
      jQuery.get( "http://0.0.0.0:8080/friendsteacher", {"face_id":fb_string, "teacher_id":thisTeacher}, function( data ) {
        console.log(data);
        enroll_array = data.split(" ");
        console.log(enroll_array);
        for (i=0; i < enroll_array.length ; i++){
            enroll_array[i] = enroll_array[i].split("+");
          }
        for (i=0; i < enroll_array.length ; i++){
            enroll_array[i][2] = enroll_array[i][2].split(":");
          }
        for (i=0; i < enroll_array.length ; i++){
          for (j=0; j < enroll_array[i][2].length ; j++){
            enroll_array[i][2][j] = enroll_array[i][2][j].split("@");
          }
        }
        for (i =0; i<enroll_array.length; i++){
          img = jQuery('<img/>').attr('src', ProfileUrl(enroll_array[i][0])).addClass("img-responsive img-rounded");
          imglink = jQuery('<a/>').attr('href', "/estudantes/" + enroll_array[i][1]).append(img);
          thumbdiv = jQuery('<div/>').addClass("col-lg-3 col-md-4 col-xs-6 thumb").append(imglink);
          for (j=0; j < enroll_array[i][2].length ; j++){
              code = enroll_array[i][2][j][0] + "&nbsp;";
              path = "/oferecimentos/" + enroll_array[i][2][j][1] + "/" + enroll_array[i][2][j][0].toLowerCase();
              offerlink = jQuery('<a/>').attr('href',path).html(code).addClass("black-link small text-center");
              offerlink.appendTo(thumbdiv);
          }
          thumbdiv.appendTo(jQuery('#imagediv'));
        }
      });


      /*
      jQuery.get( "http://0.0.0.0:8080/whichra", {"face_id":fb_string }, function( data ) {
        ra_array = data.split(" ");
        fb_array = fb_string.split(" ");
        var len = ra_array.length;
        for (i =0; i<len; i++){
          img = jQuery('<img/>').attr('src', ProfileUrl(fb_array[i])).addClass("img-responsive img-rounded");
          imglink = jQuery('<a/>').attr('href', "/estudantes/" + ra_array[i]).append(img);
          thumbdiv = jQuery('<div/>').addClass("col-lg-3 col-md-4 col-xs-6 thumb").append(imglink);
          thumbdiv.appendTo(jQuery('#imagediv'));
        }
      });
      */
  });
  }

  function ProfileUrl(id){
    var m = "http://graph.facebook.com/"+id+"/picture";
    return m;
  };

</script>
