$def with (Form, Error, Render)

$ S = sessionmaker(bind=DB)()

$ MyUser = S.query(User).filter(User.id == Render.user_id).one()

$ face = S.query(FaceUser).filter(Render.user_id == FaceUser.user_id)
$ auth = face.count()

$if auth==1:
  $ face=face.one()

<!DOCTYPE html>
<html>
<head>
  $:Render.includes()
  <title>$BaseTitle - Meus Dados</title>
</head>
<body>
  $if Error != "":
    <script>BootstrapDialog.show({type: BootstrapDialog.TYPE_DANGER, size: BootstrapDialog.SIZE_SMALL, title: 'Erro', message: '$:Error' });</script>
  <!-- Fixed navbar -->
  $:Render.navbar(Render.user_id)
  <!-- Begin page content -->
  <div class="container">
    <div class="col-sm-3">
      <br>
      <h4 class="form-signin-heading">Altere seus dados</h3>
      <br><br>
      <h4 class="form-signin-heading">Altere sua senha</h3>
    </div>

    <div class="col-sm-5">
    <form class="form-signin" method="POST" action="/user">
      <fieldset>
        <br>
      <div class="form-group">
        <label for="RA" class="col-sm-2 control-label">RA</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="$MyUser.student.ra" name="RA" required autofocus>
        </div>
      </div>

      <label for="Nome" class="col-sm-2">Nome</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" value="$MyUser.student.name" name="Nome" required>
      </div>

      <div class="col-sm-12"><br></div>
    <input type="password" class="form-control" placeholder="Senha atual" name="Current">
    <input type="text" class="form-control" placeholder="Senha nova" name="New" id="pp_url">
    <input type="password" class="form-control" placeholder="Repita a senha nova" name="Repeat">
    <input type="hidden" class="form-control" name="Face_id" id="fb_id">
    <br>
    $if auth==1:
      <h4 class="form-signin-heading">Você já pode logar no gda com sua conta no facebook</h3>
    $else:
      <h4 class="form-signin-heading">Quer fazer login pelo face?</h3>
      <fb:login-button scope="public_profile,email,user_friends" onlogin="checkLoginState();">
      </fb:login-button>

    <button class="btn btn-primary btn-block" id="submit_id" type="submit">Submeter</button>
  </fieldset>
  </form>
</div>
  </div>
$:Render.footer()
</body>
</html>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1685706398346162',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
    FB.api('/me', function(response) {
        console.log(JSON.stringify(response.id));
        $ u = S.query(FaceUser).filter(Render.user_id == FaceUser.user_id)
        $if u.count()==0:
          jQuery("#fb_id").val(response.id);
          jQuery("#submit_id").click();
        $else:
          jQuery("#fb_id").val(0);
    });
  }
  function ProfileUrl(id){
    var m = "http://graph.facebook.com/"+JSON.stringify(id)+"/picture";
    return m;
  };
</script>
