$def with (Form, Error, Render)

$ S = sessionmaker(bind=DB)()

$ MyUser = S.query(User).filter(User.id == Render.user_id).one()

$ face = S.query(FaceUser).filter(Render.user_id == FaceUser.user_id)
$ auth = face.count()

$if auth==1:
  $ face=face.one()

<!DOCTYPE html>
<html>
<head>
  $:Render.includes()
  <title>$BaseTitle - Meus Dados</title>
</head>
<body>
  $if Error != "":
    <script>BootstrapDialog.show({type: BootstrapDialog.TYPE_DANGER, size: BootstrapDialog.SIZE_SMALL, title: 'Erro', message: '$:Error' });</script>
  <!-- Fixed navbar -->
  $:Render.navbar(Render.user_id)
  <!-- Begin page content -->
  <div class="container">
        <div class="col-sm-2 text-center">
          <div class="panel-body">
          <input type="hidden" class="form-control" name="Face_id" id="fb_id">
            <img src="/static/images/logofacebook.jpg" width="50" height="50" class="img-rounded"  alt="facebook-logo"></img>
            <img src="" width="50" height="50" class="img-rounded" id="user_img2" alt="profile"></img>
            $if auth==1:
              <h6> Sua conta no GDA está vinculada a sua conta no Facebook.</h6>
            $else:
              <h6> Autorizar login pelo Facebook</h6>
              <a class="btn btn-social btn-facebook" onclick="fb_login();">
                <span class="fa fa-facebook"></span> Conectar
              </a>
            </div>
        </div>
        <form class="form-signin" method="POST" action="/user">
          <fieldset>
        <div class="col-sm-8 col-sm-offset-1">
          <div class="row">
            <div class="col-sm-4">
              <h6 class="text-primary">Altere seus dados</h6>
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <label for="RA" class="col-sm-2 control-label">RA</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="$MyUser.student.ra" name="RA" required disabled>
                </div>
              </div>

              <label for="Nome" class="col-sm-2">Nome</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" value="$MyUser.student.name" name="Nome" required autofocus>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-4">
              <h6 class="text-primary">Altere sua senha</h6>
            </div>
            <div class="col-sm-8">
              <input type="password" class="form-control" placeholder="Senha atual" name="Current">
              <input type="text" class="form-control" placeholder="Senha nova" name="New" id="pp_url">
              <input type="password" class="form-control" placeholder="Repita a senha nova" name="Repeat">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
              <br>
              <button class="btn btn-primary btn-block" id="submit_id" type="submit">Submeter</button>
            </div>
          </div>
        </div>
    </fieldset>
    </form>
  </div>
$:Render.footer()
</body>
</html>
<script>
function fb_login(){
    FB.login(function(response) {
        if (response.authResponse) {
            console.log('Welcome!  Fetching your information.... ');
            //console.log(response); // dump complete info
            //access_token = response.authResponse.accessToken; //get access token
            user_id = response.authResponse.userID; //get FB UID
            jQuery.post( "http://0.0.0.0:8080/user", {"Face_id": user_id});
            location.reload();
        } else {
            //user hit cancel button
            console.log('User cancelled login or did not fully authorize.');
        }
    }, {
        scope: 'public_profile,email,user_friends'
    });
}
  function ProfileUrl(id){
    var m = "http://graph.facebook.com/"+JSON.stringify(id)+"/picture";
    return m;
  };


  jQuery(document).ready(function(){
    $ u = S.query(FaceUser).filter(FaceUser.user_id == MyUser.id);
    $if u.count()==0:
      jQuery("#user_img2").attr("src","/static/images/student.png");
    $else:
      $ j = u.one()
      $ k = j.face_id
      jQuery("#user_img2").attr("src",ProfileUrl($k));
    });
</script>
