$def with (ThisComments)

$ S = sessionmaker(bind=DB)()

<div class="comment-box">
  <div id="comment-listing">
    $for Comment in ThisComments:
      $ oferec = S.query(Offering).filter(Offering.id == Comment.offering_id).one()
      $ subj = S.query(Subject).filter(Subject.id == oferec.subject_id).one()
      <div>
        $if not Comment.anonymous:
          <b>$Comment.user.student.name</b>
          sobre <b>$subj.name</b>
        $else:
          <b>Anônimo</b>
        <br/>
        $Comment.text
        <br></br>
      </div>
  </div>

</div>
