$def with (Render, form1, form2, form3, form4, form5)

<!DOCTYPE html>

<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - Database </title>
  </head>
  <body>
    $:Render.navbar()
    <div class="container">
      <div class = col-sm-6>
        <h2> Adicionar </h2> <br>
        <h4>Adicionar Professor</h4>
        <form name="one" method="post">
          $:form1.render()
        </form>
        <br> <br>
        <h4>Adicionar Semestre</h4>
        <form name="tw0" method="post">
          $:form2.render()
        </form>
      </div>
      <div class = col-sm-6>
        <h2> Deletar </h2> <br>
        <h4>Deletar Professor</h4>
        <form name="tw0" method="post">
          $:form3.render()
        </form>
        <br> <br>
        <h4>Deletar Semestre</h4>
        <form name="tw0" method="post">
          $:form4.render()
        </form>
        <br> <br>
        <h4>Deletar Disciplina</h4>
        <form name="tw0" method="post">
          $:form5.render()
        </form>
      </div>
    </div>
    $:Render.footer()
  </body>
</html>
