$def with (OfferingInst, Render)

$ S = sessionmaker(bind=DB)()

$ SubjectsList = S.query(Offering) #.order_by(Offering.subject.code)


<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <!-- <link rel="stylesheet" href="/static/form.css"> -->
    <title>$BaseTitle - Avaliar $OfferingInst.subject.code</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar()
    <!-- Begin page content -->
    <div class="container">
      $:Render.form()
    </div>
    $:Render.footer()
    <!-- <script src="/static/form.js"></script> -->
  </body>
</html>
