$def with (OfferingInst)

<form id="jsform" action="avaliar" method="POST"><ul id="section-tabs"><li class="current active"><span>1</span></li>
<li><span>2</span></li>
<li><span>3</span></li>
<li><span>4</span></li>
<li><span>5</span></li>
<li><span>6</span></li>
<li><span>7</span></li>
<li><span>8</span></li>
<li><span>9</span></li>
<li><span>10</span></li>
<li><span>11</span></li>
<li><span>12</span></li>
<li><span>13</span></li>
<li><span>14</span></li>
<li><span>15</span></li>
<li><span>16</span></li>
<li><span>17</span></li>
<li><span>18</span></li>
<li><span>19</span></li>
<li><span>20</span></li>
<li><span>21</span></li>
<li><span>22</span></li>
<li><span>23</span></li>
<li><span>24</span></li>
<li><span>25</span></li>
<li><span>26</span></li>
<li><span>27</span></li>
<li><span>28</span></li>
<li><span>29</span></li>
<li><span>30</span></li>
<li><span>31</span></li>
<li><span>32</span></li>
<li><span>33</span></li>
</ul><div id="fieldsets"><fieldset class="current">
<label for="0.0">Você acha que a disciplina é necessária ao currículo?</label><br>
<p></p>
<input name="0.0" type="radio" value=" Sim "> Sim <br>
<input name="0.0" type="radio" value=" Não "> Não <br>
<label for="0.1">Por que?</label><br>
<p></p>
<textarea name="0.1"></textarea><br>
</fieldset>
<fieldset class="next">
<label for="1.0">Qual foi a sua dedicação extraclasse em horas semanais?</label><br>
<p></p>
<input name="1.0" type="radio" value=" Nenhuma "> Nenhuma <br>
<input name="1.0" type="radio" value=" Estudei nas vésperas de prova "> Estudei nas vésperas de prova <br>
<input name="1.0" type="radio" value=" 0h - 2h "> 0h - 2h <br>
<input name="1.0" type="radio" value=" 2h - 4h "> 2h - 4h <br>
<input name="1.0" type="radio" value=" 4h ou mais "> 4h ou mais <br>
</fieldset>
<fieldset class="next">
<label for="2.0">O número de créditos desta disciplina está adequado?</label><br>
<p></p>
<input name="2.0" type="radio" value=" Sim "> Sim <br>
<input name="2.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="3.0">O curso dado foi condizente com a ementa?</label><br>
<p>$:OfferingInst.subject.summary</p>
<input name="3.0" type="radio" value=" Sim "> Sim <br>
<input name="3.0" type="radio" value=" Não "> Não <br>
<label for="3.1">Comente</label><br>
<p>Algum ponto não foi abordado? Algum ponto deveria ser incorporado à ementa?</p>
<textarea name="3.1"></textarea><br>
</fieldset>
<fieldset class="next">
<label for="4.0">Você colou nesta disciplina?</label><br>
<p>O questionário é totalmente anônimo. Mais de uma opção pode ser selecionada.</p>
<input name="4.0" type="checkbox" value=" Sim, por desmotivação com a matéria, professor ou curso "> Sim, por desmotivação com a matéria, professor ou curso <br>
<input name="4.0" type="checkbox" value=" Sim, por preguiça de estudar "> Sim, por preguiça de estudar <br>
<input name="4.0" type="checkbox" value=" Sim, por excesso de teoria e/ou fórmulas "> Sim, por excesso de teoria e/ou fórmulas <br>
<input name="4.0" type="checkbox" value=" Sim, pois eu tinha outras para estudar "> Sim, pois eu tinha outras para estudar <br>
<input name="4.0" type="checkbox" value=" Sim, pois era mais fácil passar colando do que estudando "> Sim, pois era mais fácil passar colando do que estudando <br>
<input name="4.0" type="checkbox" value=" Sim, pois eu me sinto mais seguro "> Sim, pois eu me sinto mais seguro <br>
<input name="4.0" type="checkbox" value=" Não, pois eu gostava e sabia da matéria "> Não, pois eu gostava e sabia da matéria <br>
<input name="4.0" type="checkbox" value=" Não, por questões éticas "> Não, por questões éticas <br>
<input name="4.0" type="checkbox" value=" Não, pois não consegui "> Não, pois não consegui <br>
<input name="4.0" type="checkbox" value=" Prefiro não me manifestar "> Prefiro não me manifestar <br>
</fieldset>
<fieldset class="next">
<label for="5.0">Quais dos pré-requisitos foram realmente necessários?</label><br>
<p>Acrescente algum faltante.</p>
<input name="5.0" type="checkbox" value=" ">  <br>
<input name="5.0" type="checkbox" value=" Outro: "> Outro: <br>
</fieldset>
<fieldset class="next">
<label for="6.0">A disciplina envolvia atividades de laboratório?</label><br>
<p></p>
<input name="6.0" type="radio" value=" Sim "> Sim <br>
<input name="6.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="7.0">Os equipamentos foram adequados?</label><br>
<p></p>
<input name="7.0" type="radio" value=" Sim "> Sim <br>
<input name="7.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="8.0">O laboratório e os equipamentos estavam acessíveis?</label><br>
<p></p>
<input name="8.0" type="radio" value=" Sim "> Sim <br>
<input name="8.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="9.0">Faltou algum equipamento?</label><br>
<p></p>
<textarea name="9.0"></textarea><br>
</fieldset>
<fieldset class="next">
<label for="10.0">Teve relatório?</label><br>
<p></p>
<input name="10.0" type="radio" value=" Sim, em aula "> Sim, em aula <br>
<input name="10.0" type="radio" value=" Sim, em casa "> Sim, em casa <br>
<input name="10.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="11.0">Tinha monitoria?</label><br>
<p></p>
<input name="11.0" type="radio" value=" Sim, PAD "> Sim, PAD <br>
<input name="11.0" type="radio" value=" Sim, PED "> Sim, PED <br>
<input name="11.0" type="radio" value=" Sim, ambos "> Sim, ambos <br>
<input name="11.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="12.0">Você compareceu à monitoria?</label><br>
<p></p>
<input name="12.0" type="radio" value=" Sim "> Sim <br>
<input name="12.0" type="radio" value=" Apenas em véspera de prova "> Apenas em véspera de prova <br>
<input name="12.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="13.0">A monitoria foi relevante ao seu aprendizado?</label><br>
<p></p>
<input name="13.0" type="radio" value=" Sim "> Sim <br>
<input name="13.0" type="radio" value=" Mais ou menos "> Mais ou menos <br>
<input name="13.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="14.0">O professor e o monitor estavam em sintonia?</label><br>
<p></p>
<input name="14.0" type="radio" value=" Sim "> Sim <br>
<input name="14.0" type="radio" value=" Mais ou menos "> Mais ou menos <br>
<input name="14.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="15.0">O monitor estava disponível a atendimento?</label><br>
<p></p>
<input name="15.0" type="radio" value=" Sim, apenas nos horários especificados "> Sim, apenas nos horários especificados <br>
<input name="15.0" type="radio" value=" Sim, inclusive em horas extras "> Sim, inclusive em horas extras <br>
<input name="15.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="16.0">Comente sobre a monitoria</label><br>
<p></p>
<textarea name="16.0"></textarea><br>
</fieldset>
<fieldset class="next">
<label for="17.0">Deveria ter monitoria?</label><br>
<p></p>
<input name="17.0" type="radio" value=" Sim "> Sim <br>
<input name="17.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="18.0">Por que?</label><br>
<p></p>
<textarea name="18.0"></textarea><br>
</fieldset>
<fieldset class="next">
<label for="19.0">Classifique o professor*Obrigatória</label><br>
<p></p>
<table>
<thead>
<tr>
<td></td>
<td>Péssimo</td><td>Ruim</td><td>Médio</td><td>Bom</td><td>Excelente</td></tr>
</thead>
<tbody>
<tr>
<td>Organização das aulas</td>
<td><input name="19.0Organização das aulas" value="Péssimo" type="radio"><br></td>
<td><input name="19.0Organização das aulas" value="Ruim" type="radio"><br></td>
<td><input name="19.0Organização das aulas" value="Médio" type="radio"><br></td>
<td><input name="19.0Organização das aulas" value="Bom" type="radio"><br></td>
<td><input name="19.0Organização das aulas" value="Excelente" type="radio"><br></td>
</tr>
<tr>
<td>Clareza e didática</td>
<td><input name="19.0Clareza e didática" value="Péssimo" type="radio"><br></td>
<td><input name="19.0Clareza e didática" value="Ruim" type="radio"><br></td>
<td><input name="19.0Clareza e didática" value="Médio" type="radio"><br></td>
<td><input name="19.0Clareza e didática" value="Bom" type="radio"><br></td>
<td><input name="19.0Clareza e didática" value="Excelente" type="radio"><br></td>
</tr>
<tr>
<td>Coerência nas avaliações</td>
<td><input name="19.0Coerência nas avaliações" value="Péssimo" type="radio"><br></td>
<td><input name="19.0Coerência nas avaliações" value="Ruim" type="radio"><br></td>
<td><input name="19.0Coerência nas avaliações" value="Médio" type="radio"><br></td>
<td><input name="19.0Coerência nas avaliações" value="Bom" type="radio"><br></td>
<td><input name="19.0Coerência nas avaliações" value="Excelente" type="radio"><br></td>
</tr>
<tr>
<td>Prender a atenção</td>
<td><input name="19.0Prender a atenção" value="Péssimo" type="radio"><br></td>
<td><input name="19.0Prender a atenção" value="Ruim" type="radio"><br></td>
<td><input name="19.0Prender a atenção" value="Médio" type="radio"><br></td>
<td><input name="19.0Prender a atenção" value="Bom" type="radio"><br></td>
<td><input name="19.0Prender a atenção" value="Excelente" type="radio"><br></td>
</tr>
<tr>
<td>Bom humor e simpatia</td>
<td><input name="19.0Bom humor e simpatia" value="Péssimo" type="radio"><br></td>
<td><input name="19.0Bom humor e simpatia" value="Ruim" type="radio"><br></td>
<td><input name="19.0Bom humor e simpatia" value="Médio" type="radio"><br></td>
<td><input name="19.0Bom humor e simpatia" value="Bom" type="radio"><br></td>
<td><input name="19.0Bom humor e simpatia" value="Excelente" type="radio"><br></td>
</tr>
<tr>
<td>Interesse por lecionar</td>
<td><input name="19.0Interesse por lecionar" value="Péssimo" type="radio"><br></td>
<td><input name="19.0Interesse por lecionar" value="Ruim" type="radio"><br></td>
<td><input name="19.0Interesse por lecionar" value="Médio" type="radio"><br></td>
<td><input name="19.0Interesse por lecionar" value="Bom" type="radio"><br></td>
<td><input name="19.0Interesse por lecionar" value="Excelente" type="radio"><br></td>
</tr>
<tr>
<td>Domínio da matéria</td>
<td><input name="19.0Domínio da matéria" value="Péssimo" type="radio"><br></td>
<td><input name="19.0Domínio da matéria" value="Ruim" type="radio"><br></td>
<td><input name="19.0Domínio da matéria" value="Médio" type="radio"><br></td>
<td><input name="19.0Domínio da matéria" value="Bom" type="radio"><br></td>
<td><input name="19.0Domínio da matéria" value="Excelente" type="radio"><br></td>
</tr>
</tbody>
</table>
</fieldset>
<fieldset class="next">
<label for="20.0">O professor estava aberto a críticas e sugestões?</label><br>
<p></p>
<input name="20.0" type="radio" value=" Sim "> Sim <br>
<input name="20.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="21.0">O professor constrangiu algum aluno?</label><br>
<p>Ele elevou o tom de voz? Dividiu a turma em bons e maus alunos? Separou os alunos por nota?</p>
<input name="21.0" type="radio" value=" Sim "> Sim <br>
<input name="21.0" type="radio" value=" Não "> Não <br>
<label for="21.1">Em qual situação?</label><br>
<p></p>
<textarea name="21.1"></textarea><br>
</fieldset>
<fieldset class="next">
<label for="22.0">O professor incentivava a participação dos alunos em sala de aula?</label><br>
<p></p>
<input name="22.0" type="radio" value=" Sim, de maneira positiva "> Sim, de maneira positiva <br>
<input name="22.0" type="radio" value=" Sim, de maneira inadequada "> Sim, de maneira inadequada <br>
<input name="22.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="23.0">O professor intimidou os alunos quanto à avaliação?</label><br>
<p>Ele ameaçou fazer uma prova difícil?</p>
<input name="23.0" type="radio" value=" Sim "> Sim <br>
<input name="23.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="24.0">Você faria novamente uma disciplina com este professor?</label><br>
<p></p>
<input name="24.0" type="radio" value=" Sim "> Sim <br>
<input name="24.0" type="radio" value=" Indiferente "> Indiferente <br>
<input name="24.0" type="radio" value=" Provavelmente não "> Provavelmente não <br>
<input name="24.0" type="radio" value=" Não, sob hipótese alguma "> Não, sob hipótese alguma <br>
</fieldset>
<fieldset class="next">
<label for="25.0">A aula é relevante ao aprendizado?</label><br>
<p></p>
<input name="25.0" type="radio" value=" Sim "> Sim <br>
<input name="25.0" type="radio" value=" Sim, apesar de eu não ter frequentado "> Sim, apesar de eu não ter frequentado <br>
<input name="25.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="26.0">O professor era assíduo?</label><br>
<p></p>
<input name="26.0" type="radio" value=" Sim "> Sim <br>
<input name="26.0" type="radio" value=" Não "> Não <br>
</fieldset>
<fieldset class="next">
<label for="27.0">A bibliografia utilizada pelo professor foi adequada?</label><br>
<p></p>
<input name="27.0" type="radio" value=" Sim "> Sim <br>
<input name="27.0" type="radio" value=" Não "> Não <br>
<label for="27.1">Por quê?</label><br>
<p></p>
<textarea name="27.1"></textarea><br>
</fieldset>
<fieldset class="next">
<label for="28.0">O professor poderia ter mostrado mais aplicações desta disciplina?</label><br>
<p></p>
<input name="28.0" type="radio" value=" Sim "> Sim <br>
<input name="28.0" type="radio" value=" Não "> Não <br>
<label for="28.1">Comente</label><br>
<p></p>
<textarea name="28.1"></textarea><br>
</fieldset>
<fieldset class="next">
<label for="29.0">Cite qualidades positivas do professor e pontos a melhorar.</label><br>
<p></p>
<textarea name="29.0"></textarea><br>
</fieldset>
<fieldset class="next">
<label for="Qual o nível de dificuldade desta disciplina?">Qual o nível de dificuldade desta disciplina?</label><br>
<p></p>
<table>
<thead>
<tr>
<td></td>
<td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td></td>
</tr>
</thead>
<tbody>
<tr>
<td>Muito fácil</td>
<td><input name="30.0" value="1" type="radio"><br></td>
<td><input name="30.0" value="2" type="radio"><br></td>
<td><input name="30.0" value="3" type="radio"><br></td>
<td><input name="30.0" value="4" type="radio"><br></td>
<td><input name="30.0" value="5" type="radio"><br></td>
<td>Muito fácil</td>
</tr>
</tbody>
</table>
</fieldset>
<fieldset class="next">
<label for="A dificuldade está inerente:">A dificuldade está inerente:</label><br>
<p></p>
<table>
<thead>
<tr>
<td></td>
<td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td></td>
</tr>
</thead>
<tbody>
<tr>
<td>à matéria</td>
<td><input name="31.0" value="1" type="radio"><br></td>
<td><input name="31.0" value="2" type="radio"><br></td>
<td><input name="31.0" value="3" type="radio"><br></td>
<td><input name="31.0" value="4" type="radio"><br></td>
<td><input name="31.0" value="5" type="radio"><br></td>
<td>à matéria</td>
</tr>
</tbody>
</table>
</fieldset>
<fieldset class="next">
<label for="32.0">Comentários e dicas para quem vai cursar esta disciplina.</label><br>
<p></p>
<textarea name="32.0"></textarea><br>
</fieldset>
<a class="btn" id="next">Próxima pergunta</a>
<input type="submit" class="btn">
</div>
</form>

  
