
<form id="jsform" action="" method="POST">
  <fieldset>

    <div class="container">
      <div class="col-sm-6">

            <label for="0.0">A disciplina é necessária ao currículo?</label><br>
            <p></p>
            <input name="0.0" type="radio" value=" sim "> Sim <br>
            <input name="0.0" type="radio" value=" não "> Não <br>
            <br><br>
<!--
            <label for="1.0">Sobre a grade recomendada pela universidade, a disciplina:</label><br>
            <p></p>
            <input name="1.0" type="radio" value=" correto "> Está no semestre correto <br>
            <input name="1.0" type="radio" value=" antes "> Está antes do que deveria <br>
            <input name="1.0" type="radio" value=" depois "> Está depois do que deveria <br>
            <br><br>
-->
            <label for="2.0">Como você avalia a ementa da disciplina?</label><br>
            <p></p>
            <input name="2.0" type="radio" value=" adequada "> Adequada <br>
            <input name="2.0" type="radio" value=" curta "> Curta <br>
            <input name="2.0" type="radio" value=" longa "> Longa <br>
            <br><br>

            <label for="3.0">A dedicação exigida pela disciplina foi:</label><br>
            <p></p>
            <input name="3.0" type="radio" value=" alta "> Alta <br>
            <input name="3.0" type="radio" value=" normal "> Normal <br>
            <input name="3.0" type="radio" value=" baixa "> Baixa <br>
            <br><br>

            <label for="4.0">Como você avalia a dificuldade inerente à disciplina?</label><br>
            <p></p>
            <input name="4.0" type="radio" value=" alta "> Alta <br>
            <input name="4.0" type="radio" value=" normal "> Normal <br>
            <input name="4.0" type="radio" value=" baixa "> Baixa <br>
            <br><br>

            <label for="5.0">Como você avalia a dificuldade inerente ao professor?</label><br>
            <p></p>
            <input name="5.0" type="radio" value=" alta "> Alta <br>
            <input name="5.0" type="radio" value=" normal "> Normal <br>
            <input name="5.0" type="radio" value=" baixa "> Baixa <br>
            <br><br>

            <h2>Comentários</h2>
            <br>
            <form id="comment-form" action="" method="POST">
              <input type="hidden" name="trigger" value="comment">
              <h4>Dicas para professor melhorar</h4>
              <h5>[breve descrição]</h5>
              <textarea class="form-control comment-field" name="text-teacher"></textarea>
              <h4>Dicas para quem vai cursar</h4>
              <h5>[breve descrição]</h5>
              <textarea class="form-control comment-field" name="text-offering"></textarea>
              <br> <br>
<!--              <input class="btn comment-submit" value="Enviar" type="submit">
             <input type="checkbox" name="anonymous"> Postar como anônimo [?]
-->             </form>

      </div>
      <div class="col-sm-6">

            <label for="6.0">A bibliografia recomendada foi adequada?</label><br>
            <p></p>
            <input name="6.0" type="radio" value=" sim "> Sim <br>
            <input name="6.0" type="radio" value=" não "> Não <br>
            <br><br>

            <label for="7.0">Como você avalia a didática do professor?</label><br>
            <p></p>
            <input name="7.0" type="radio" value=" boa "> Boa <br>
            <input name="7.0" type="radio" value=" média "> Média <br>
            <input name="7.0" type="radio" value=" ruim "> Ruim <br>
            <br><br>

            <label for="8.0">O professor se preocupou em tornar as aulas mais interessantes?</label><br>
            <p></p>
            <input name="8.0" type="radio" value=" sim "> Sim <br>
            <input name="8.0" type="radio" value=" não "> Não <br>
            <br><br>

            <label for="9.0">O professor se mostrou acessível para tirar dúvidas?</label><br>
            <p></p>
            <input name="9.0" type="radio" value=" sim "> Sim <br>
            <input name="9.0" type="radio" value=" não "> Não <br>
            <br><br>

            <label for="10.0">As avaliações foram coerentes?</label><br>
            <p></p>
            <input name="10.0" type="radio" value=" sim "> Sim <br>
            <input name="10.0" type="radio" value=" não "> Não <br>
            <br><br>

            <label for="11.0">Ir às aulas foi importante?</label><br>
            <p></p>
            <input name="11.0" type="radio" value=" sim "> Sim <br>
            <input name="11.0" type="radio" value=" não "> Não <br>
            <br><br>

            <label for="12.0">Faria outra disciplina com este professor?</label><br>
            <p></p>
            <input name="12.0" type="radio" value=" sim "> Sim <br>
            <input name="12.0" type="radio" value=" não "> Não <br>
            <br><br>

      </div>
    </div>

    <input type="submit" value="Contribuir com o GDA">
    </fieldset>
</form>
