<form id="jsform" action="" method="POST">
  <fieldset>
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title"> Perguntas </h3></div>
          <ul class="list-group">
            <li class="list-group-item">
              A disciplina é necessária ao currículo? <br>
              <div class="row">
                <div class="col-sm-3">
                  <input class="sim" name="0.0" type="radio" value=" sim " id="0.1" />
                  <label for="0.1">Sim</label>
                </div>
                <div class="col-sm-3">
                  <input name="0.0" type="radio" value=" não " id ="0.2" />
                  <label for="0.2">Não</label>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              Como você avalia a ementa da disciplina? <br>
              <div class="row">
                <div class="col-sm-3">
                  <input name="2.0" type="radio" value=" longa " id="2.3"/>
                  <label for="2.3">Longa</label>
                </div>
                <div class="col-sm-3">
                  <input name="2.0" type="radio" value=" adequada " id="2.1"/>
                  <label for="2.1">Adequada</label>
                </div>
                <div class="col-sm-3">
                  <input name="2.0" type="radio" value=" curta " id="2.2"/>
                  <label for="2.2">Curta</label>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              Como você avalia a dedicação exigida pela disciplina? <br>
              <div class="row">
                <div class="col-sm-3">
                  <input name="3.0" type="radio" value=" alta " id="3.1"/>
                  <label for="3.1">Alta</label>
                </div>
                <div class="col-sm-3">
                  <input name="3.0" type="radio" value=" normal " id="3.2"/>
                  <label for="3.2">Normal</label>
                </div>
                <div class="col-sm-3">
                  <input name="3.0" type="radio" value=" baixa " id="3.3"/>
                  <label for="3.3">Baixa</label>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              Como você avalia a dificuldade inerente à disciplina? <br>
              <div class="row">
                <div class="col-sm-3">
                  <input name="4.0" type="radio" value=" alta " id="4.1"/>
                  <label for="4.1">Alta</label>
                </div>
                <div class="col-sm-3">
                  <input name="4.0" type="radio" value=" normal " id="4.2"/>
                  <label for="4.2">Normal</label>
                </div>
                <div class="col-sm-3">
                  <input name="4.0" type="radio" value=" baixa " id="4.3"/>
                  <label for="4.3">Baixa</label>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              Como você avalia a dificuldade inerente ao professor? <br>
              <div class="row">
                <div class="col-sm-3">
                  <input name="5.0" type="radio" value=" alta " id="5.1"/>
                  <label for="5.1">Alta</label>
                </div>
                <div class="col-sm-3">
                  <input name="5.0" type="radio" value=" normal " id="5.2"/>
                  <label for="5.2">Normal</label>
                </div>
                <div class="col-sm-3">
                  <input name="5.0" type="radio" value=" baixa " id="5.3"/>
                  <label for="5.3">Baixa</label>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              A bibliografia recomendada foi adequada? <br>
              <div class="row">
                <div class="col-sm-3">
                  <input name="6.0" type="radio" value=" sim " id="6.1" />
                  <label for="6.1">Sim</label>
                </div>
                <div class="col-sm-3">
                  <input name="6.0" type="radio" value=" não " id ="6.2" />
                  <label for="6.2">Não</label>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              Como você avalia a didática do professor? <br>
              <div class="row">
                <div class="col-sm-3">
                  <input name="7.0" type="radio" value=" boa " id="7.1" />
                  <label for="7.1">Boa</label>
                </div>
                <div class="col-sm-3">
                  <input name="7.0" type="radio" value=" média " id="7.2" />
                  <label for="7.2">Média</label>
                </div>
                <div class="col-sm-3">
                  <input name="7.0" type="radio" value=" ruim " id="7.3" />
                  <label for="7.3">Ruim</label>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              O professor se preocupou em tornar as aulas interessantes? <br>
              <div class="row">
                <div class="col-sm-3">
                  <input name="8.0" type="radio" value=" sim " id="8.1" />
                  <label for="8.1">Sim</label>
                </div>
                <div class="col-sm-3">
                  <input name="8.0" type="radio" value=" não " id ="8.2" />
                  <label for="8.2">Não</label>
                </div>
              </div>
            </li>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"> Perguntas </h3></div>
            <ul class="list-group">
              <li class="list-group-item">
                O professor se mostrou acessível para tirar dúvidas? <br>
                <div class="row">
                  <div class="col-sm-3">
                    <input name="9.0" type="radio" value=" sim " id="9.1" />
                    <label for="9.1">Sim</label>
                  </div>
                  <div class="col-sm-3">
                    <input name="9.0" type="radio" value=" não " id ="9.2" />
                    <label for="9.2">Não</label>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                As avaliações foram coerentes? <br>
                <div class="row">
                  <div class="col-sm-3">
                    <input name="10.0" type="radio" value=" sim " id="10.1" />
                    <label for="10.1">Sim</label>
                  </div>
                  <div class="col-sm-3">
                    <input name="10.0" type="radio" value=" não " id ="10.2" />
                    <label for="10.2">Não</label>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                Ir às aulas foi importante? <br>
                <div class="row">
                  <div class="col-sm-3">
                    <input name="11.0" type="radio" value=" sim " id="11.1" />
                    <label for="11.1">Sim</label>
                  </div>
                  <div class="col-sm-3">
                    <input name="11.0" type="radio" value=" não " id ="11.2" />
                    <label for="11.2">Não</label>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                Faria outra disciplina com este professor? <br>
                <div class="row">
                  <div class="col-sm-3">
                    <input name="12.0" type="radio" value=" sim " id="12.1" />
                    <label for="12.1">Sim</label>
                  </div>
                  <div class="col-sm-3">
                    <input name="12.0" type="radio" value=" não " id ="12.2" />
                    <label for="12.2">Não</label>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <form id="comment-form" action="" method="POST">
            <div class="panel panel-default">
              <div class="panel-heading"><h4 class="panel-title">Comentários sobre o docente</h4></div>
              <input type="hidden" name="trigger" value="comment">
              <textarea rows="3" class="form-control comment-field" name="text-teacher" placeholder="&nbsp; Críticas, sugestões ou elogios para o/a professor/a"></textarea>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading"><h4 class="panel-title">Comentários sobre a disciplina</h4></div>
              <input type="hidden" name="trigger" value="comment">
              <textarea rows="3" class="form-control comment-field" name="text-offering" placeholder="&nbsp; Dicas para quem vai cursar essa disciplina"></textarea>
            </div>
            <!--
            <input class="btn comment-submit" value="Enviar" type="submit">
            <input type="checkbox" name="anonymous"> Postar como anônimo [?]
          -->
        </form>
        <input type="submit" class="btn btn-primary btn-block" value="Submeter">
      </div>

      </div>
    </div>
  </fieldset>
</form>

<!--
<label for="0.0">A disciplina é necessária ao currículo?</label>
<input name="0.0" type="radio" value=" sim "> Sim
<input name="0.0" type="radio" value=" não "> Não

<label for="1.0">Sobre a grade recomendada pela universidade, a disciplina:</label>

<input name="1.0" type="radio" value=" correto "> Está no semestre correto
<input name="1.0" type="radio" value=" antes "> Está antes do que deveria
<input name="1.0" type="radio" value=" depois "> Está depois do que deveria


<label for="2.0">Como você avalia a ementa da disciplina?</label>

<input name="2.0" type="radio" value=" adequada "> Adequada
<input name="2.0" type="radio" value=" curta "> Curta
<input name="2.0" type="radio" value=" longa "> Longa


<label for="3.0">A dedicação exigida pela disciplina foi:</label>

<input name="3.0" type="radio" value=" alta "> Alta
<input name="3.0" type="radio" value=" normal "> Normal
<input name="3.0" type="radio" value=" baixa "> Baixa


<label for="4.0">Como você avalia a dificuldade inerente à disciplina?</label>

<input name="4.0" type="radio" value=" alta "> Alta
<input name="4.0" type="radio" value=" normal "> Normal
<input name="4.0" type="radio" value=" baixa "> Baixa


<label for="5.0">Como você avalia a dificuldade inerente ao professor?</label>

<input name="5.0" type="radio" value=" alta "> Alta
<input name="5.0" type="radio" value=" normal "> Normal
<input name="5.0" type="radio" value=" baixa "> Baixa

<label for="6.0">A bibliografia recomendada foi adequada?</label>

<input name="6.0" type="radio" value=" sim "> Sim
<input name="6.0" type="radio" value=" não "> Não


<label for="7.0">Como você avalia a didática do professor?</label>

<input name="7.0" type="radio" value=" boa "> Boa
<input name="7.0" type="radio" value=" média "> Média
<input name="7.0" type="radio" value=" ruim "> Ruim


<label for="8.0">O professor se preocupou em tornar as aulas mais interessantes?</label>

<input name="8.0" type="radio" value=" sim "> Sim
<input name="8.0" type="radio" value=" não "> Não


<label for="9.0">O professor se mostrou acessível para tirar dúvidas?</label>

<input name="9.0" type="radio" value=" sim "> Sim
<input name="9.0" type="radio" value=" não "> Não


<label for="10.0">As avaliações foram coerentes?</label>

<input name="10.0" type="radio" value=" sim "> Sim
<input name="10.0" type="radio" value=" não "> Não


<label for="11.0">Ir às aulas foi importante?</label>

<input name="11.0" type="radio" value=" sim "> Sim
<input name="11.0" type="radio" value=" não "> Não


<label for="12.0">Faria outra disciplina com este professor?</label>

<input name="12.0" type="radio" value=" sim "> Sim
<input name="12.0" type="radio" value=" não "> Não
-->
