<!--
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
-->
<!--
Cosmo
Flatly
Lumen
Paper
Readable
Simplex
Yeti
-->
<link rel="stylesheet" href="/static/css/bootstrap/paper.min.css">

<link rel="shortcut icon" href="/static/favicon-mortarboard.ico" />
<link href="http://allfont.net/allfont.css?fonts=pricedown&effects=outline" rel="stylesheet" type="text/css" />

<script src="/static/js/jquery-2.1.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/js/sorttable.js"></script>
<script src="/static/js/jquery.stickytableheaders.min.js"></script>
<script src="/static/js/scrollable.js"></script>
<script src="/static/js/clickable-row.js"></script>

<script src="/static/js/list.min.js"></script>

<link rel="stylesheet" href="/static/css/font-awesome.min.css">

<!--
<script src="/static/js/jquery.multipage.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.multipage.css" />
-->

<!--
MODAL
<link rel="stylesheet" href="/static/css/bootstrap-dialog.min.css">
<script src="/static/js/bootstrap-dialog.min.js"></script>
-->

<!-- CUSTOM -->
<link rel="stylesheet" href="/static/css/style.css">
