<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap-dialog.min.css">


<script src="/static/jquery-2.1.3.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/bootstrap-dialog.min.js"></script>


<script src="/static/list.min.js"></script>
<!--<script src="/static/jquery.multipage.js"></script>-->
<link rel="stylesheet" type="text/css" href="/static/jquery.multipage.css" />

<link rel="stylesheet" href="/static/style.css">

