$def with (OfferingInst, Render, form)

$ S = sessionmaker(bind=DB)()

$ ThisComments = S.query(OfferingComment).filter(OfferingComment.offering == OfferingInst)
$ ThisTeacher = S.query(Teacher).filter(Teacher.id == OfferingInst.teacher_id).one()

$ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == OfferingInst.id)
$ Rated = 0
$for Line in SearchRate:
  $ Rate = Line
  $ Rated = 1

<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - $OfferingInst.subject.code$OfferingInst.code $(OfferingInst.semester.sem)s$OfferingInst.semester.year</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar()
    <!-- Begin page content -->
    <div class="container">
      <h3>
        $OfferingInst.subject.code $OfferingInst.code -
        <a class="black-link" href="$OfferingInst.subject.EncodeURL()">
        $OfferingInst.subject.name
      </a></h3>
      <div class="row">
        <div class="col-sm-5">
          <h4>Professor: <a class="black-link" href="$ThisTeacher.EncodeURL()">
            $ThisTeacher.name
          </a></h4>
        </div>
        <div class="col-sm-4">
            <h4> $OfferingInst.semester.semº semestre de $OfferingInst.semester.year </h4>
        </div>
        <div class="col-sm-3">
          <form method="GET" action="$OfferingInst.EvaluationURL()">
            <button class="btn btn-primary btn-block" type="submit">Avaliar este oferecimento</button>
          </form>
        </div>
      </div>
      <br>
      <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          $if Rated:
            <div class="panel-heading col-sm-6">Avaliação Oficial</div>
            <div class="panel-heading col-sm-6 text-right">$Rate.answers respostas de $OfferingInst.students matriculados</div>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="col-sm-3"> Planejamento da Bibliografia </td>
                    <td class="col-sm-1" > $Rate.question1 </td>
                    <td class="col-sm-3"> Didática e Técnica de Ensino </td>
                    <td class="col-sm-1"> $Rate.question2 </td>
                    <td class="col-sm-3"> Interesse pelo Aluno </td>
                    <td class="col-sm-1" style="text-align:right;"> $Rate.question3 </td>
                  </tr>
                  <tr>
                    <td> Relacionamento com alunos </td>
                    <td> $Rate.question4 </td>
                    <td> Adequação da avaliação </td>
                    <td> $Rate.question5 </td>
                    <td> Contribuição para aprendizado </td>
                    <td style="text-align:right;"> $Rate.question6 </td>
                  </tr>
                </tbody>
              </table>
          $else:
              <div class="panel-heading"> Avaliação Oficial - Não foi avaliado</div>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="col-sm-3"> Planejamento da Bibliografia </td>
                    <td class="col-sm-1" > $random.randrange(75,100) </td>
                    <td class="col-sm-3"> Didática e Técnica de Ensino </td>
                    <td class="col-sm-1"> $random.randrange(75,100) </td>
                    <td class="col-sm-3"> Interesse pelo Aluno </td>
                    <td class="col-sm-1" style="text-align:right;"> $random.randrange(75,100) </td>
                  </tr>
                  <tr>
                    <td> Relacionamento com alunos </td>
                    <td> $random.randrange(75,100) </td>
                    <td> Adequação da avaliação </td>
                    <td> $random.randrange(75,100) </td>
                    <td> Contribuição para aprendizado </td>
                    <td style="text-align:right;"> $random.randrange(75,100) </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-7">
          <div class="panel panel-default">
            <div class="panel-heading">Avaliação</div>
              <table class="table">
                <tbody>
                  <tr>
                    <td> A disciplina é necessária ao currículo? </td>
                    <td style="text-align:right;"> Sim (59%)  </td>
                    <td style="text-align:right;"> 23 votos</td>
                  </tr>
                  <tr>
                    <td> Como você avalia a ementa da disciplina? </td>
                    <td style="text-align:right;"> Adequada (82%)  </td>
                    <td td style="text-align:right;"> 21 votos</td>
                  </tr>
                  <tr>
                    <td> Como você avalia a dedicação exigida pela disciplina? </td>
                    <td style="text-align:right;"> Alta (60%)  </td>
                    <td style="text-align:right;"> 33 votos</td>
                  </tr>
                  <tr>
                    <td> Como você avalia a dificuldade inerente à disciplina? </td>
                    <td style="text-align:right;"> Fácil (46%)  </td>
                    <td style="text-align:right;"> 30 votos</td>
                  </tr>
                  <tr>
                    <td> A bibliografia recomendada foi adequada? </td>
                    <td style="text-align:right;"> Sim (86%) </td>
                    <td style="text-align:right;"> 25 votos</td>
                  </tr>
                  <tr>
                    <td> Como você avalia a didática do professor? </td>
                    <td style="text-align:right;"> Boa (75%) </td>
                    <td style="text-align:right;"> 26 votos</td>
                  </tr>
                  <tr>
                    <td> O professor se preocupou em tornar as aulas interessantes? </td>
                    <td style="text-align:right;"> Sim (90%)  </td>
                    <td style="text-align:right;"> 20 votos</td>
                  </tr>
                  <tr>
                    <td> O professor se mostrou acessível para tirar dúvidas? </td>
                    <td style="text-align:right;"> Sim (82%)  </td>
                    <td style="text-align:right;"> 15 votos</td>
                  </tr>
                  <tr>
                    <td > As avaliações foram coerentes? </td>
                    <td style="text-align:right;"> Não (66%)  </td>
                    <td style="text-align:right;"> 18 votos</td>
                  </tr>
                  <tr>
                    <td> Ir às aulas foi importante? </td>
                    <td style="text-align:right;"> Não (53%)  </td>
                    <td style="text-align:right;"> 27 votos</td>
                  </tr>
                  <tr>
                    <td> Como você avalia a dificuldade inerente ao professor? </td>
                    <td style="text-align:right;"> Alta (82%) </td>
                    <td style="text-align:right;"> 22 votos</td>
                  </tr>
                  <tr>
                    <td> Faria outra disciplina com este professor? </td>
                    <td style="text-align:right;"> Sim (59%)  </td>
                    <td style="text-align:right;"> 30 votos</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="panel panel-default">
            <div class="panel-heading">Comentários</div>
            <div class="panel-body" style="overflow-y: scroll; height:513px;">$:Render.comments(ThisComments)</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div>
          $if Rated == 0:
            <h3>Avaliar Oferecimento</h3>
            <form name="one" method="post">
              $:form.render()
            </form>
        </div>
    </div>
  </div>
    $:Render.footer()
  </body>
</html>




<!--
        <form id="comment-form" action="" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="trigger" value="upload">
          <input type="file" name="upfile">
          <input class="btn btn-submit" value="Enviar" type="submit">
      </div>
-->
