$def with (Render)

$ S = sessionmaker(bind=DB)()

$ SemestersList = S.query(Semester).order_by(desc((Semester.year)*2 + Semester.sem))


<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - Busca de Oferecimentos</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar()
    <!-- Begin page content -->
    <div class="container">
      <div class="col-sm-7">
        <h2>Escolha um semestre</h2>
        <ol class="list-unstyled">
        $for Line in SemestersList:
          $ URL = Line.EncodeURL()
          $ Name = u'%sº semestre de %s' % (Line.sem, Line.year)
          <li><a href="$URL">$Name</a></li>
        </ol>
      </div>
    </div>
    $:Render.footer()
  </body>
</html>
