$def with (Render)

$ S = sessionmaker(bind=DB)()

$ TeachersList = S.query(Teacher).order_by(Teacher.name)
$ Questions = S.query(QuestionsOffering)

<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - Busca de Docentes</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar()
    <!-- Begin page content -->
    <div class="container">
      <div class="col-sm-8">
        <h2>Busca de Docentes</h2>
        <div id="docentes">
          <input type="text" class="search" placeholder="Busca">
<!--          <span class="input-group-btn">-->
<!--            <button class="btn btn-default" type="button"></button>-->
<!--          </span>-->
          <table class="sortable">
            <thead>
              <tr>
                <th style="min-width:350px">Nome</th>
                $for Line in Questions:
                  $ Qid = '%s' % (chr(ord('A')+Line.id - 1))
                  <th style="min-width: 40px;">$Qid</th>
              </tr>
            </thead>
            <tbody class="list">
            $for Line in TeachersList:
              $ Name = Line.name
              $ URL = Line.EncodeURL()
              <tr>
                <td style="min-width:350px">
                  <p class="nome"><a href="$URL">$Name</a></p>
                </td>
                $ Rated = 0
                $ Q = [0]*10
                $ SearchOffering = S.query(Offering).filter(Offering.teacher == Line)
                $for Offer in SearchOffering:
                  $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Offer.id)
                  $for Rate in SearchRate:
                    $ Q[0] += Rate.question1
                    $ Q[1] += Rate.question2
                    $ Q[2] += Rate.question3
                    $ Q[3] += Rate.question4
                    $ Q[4] += Rate.question5
                    $ Q[5] += Rate.question6
                    $ Q[6] += Rate.question7
                    $ Q[7] += Rate.question8
                    $ Q[8] += Rate.question9
                    $ Q[9] += Rate.question10
                    $ Rated += 1
                $if Rated:
                  $for i in range(0,10):
                    <td>$(Q[i]/Rated)</td>
                $else:
                  $for i in range(1,11):
                    <td> - </td>
              </tr>
            </tbody>
          </table>
        </div>
        <script>
          var options = {
            valueNames: ['nome']
          };
          var userList = new List('docentes', options);
        </script>
      </div>
      <div class ="col-sm-4 blog-sidebar" >
        <div class="sidebar-module sidebar-module-inset">
          <ol class="list-unstyled">
            $for Line in Questions:
              $ Qid = '%s' % (chr(ord('A')+Line.id - 1))
              $ Question = '%s' % (Line.question)
              <li> <b>$Qid</b> : $Question </li>
          </ol>
        </div>
      </div>
    </div>
    $:Render.footer()
  </body>
</html>
