$def with (Render)

$ S = sessionmaker(bind=DB)()

$ SubjectsList = S.query(Subject).order_by(Subject.code)
$ Questions = S.query(QuestionsSubject)

<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - Busca de Disciplinas</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar()
    <!-- Begin page content -->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Busca de Disciplinas</h2>
        </div>
      </div>
      <div class="row">
        <div id="disciplinas">
          <input type="text" class="search" placeholder="Busca"> <br>
<!--          <span class="input-group-btn">-->
<!--            <button class="btn btn-default" type="button"></button>-->
<!--          </span>-->
            <div class="row scrollable-area" style="overflow-y: scroll; height:400px;">
              <table class="table table-striped table-condensed sortable">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th style="min-width: 50px; text-align: right;"> Necessária </th>
                    <th style="min-width: 100px; text-align: right;"> Ementa </th>
                    <th style="min-width: 30px; text-align: right;"> Dedicação </th>
                    <th style="min-width: 30px; text-align: right;"> Dificuldade </th>

                  </tr>
                </thead>
                <tbody class="list">
                $for Line in SubjectsList:
                  $ URL = Line.EncodeURL()
                  <tr>
                    <td>
                      <a class="codigo black-link" href="$URL">$Line.code</a>
                    </td>
                    <td>
                      <a class="nome black-link" href="$URL">$Line.name</a>
                    </td>
                    $ rand1 = random.randrange(50,100)
                    $ rand2 = random.randrange(35,100)
                    $ rand3 = random.randrange(35,100)
                    $ rand4 = random.randrange(35,100)
                    $ s1 = "Sim"
                    $if rand1%2:
                      $ s1 = "Não"
                    $ q1 = ' %s %d%%' % (s1,rand1)
                    $ s2 = "Adequada"
                    $if (rand2%3)==1:
                      $ s2 = "Longa"
                    $if (rand2%3)==2:
                      $ s2 = "Curta"
                    $ q2 = ' %s %d%%' % (s2,rand2)
                    $ s3 = "Normal"
                    $if (rand3%3)==1:
                      $ s3 = "Alta"
                    $if (rand3%3)==2:
                      $ s3 = "Baixa"
                    $ q3 = ' %s %d%%' % (s3,rand3)
                    $ s4 = "Normal"
                    $if (rand4%3)==1:
                      $ s4 = "Difícil"
                    $if (rand2%3)==2:
                      $ s4 = "Fácil"
                    $ q4 = ' %s %d%%' % (s4,rand4)
                  <td class="quest1" style="min-width: 100px;" align="right">$q1</td>
                  <td class="quest2" style="min-width: 180px;" align="right">$q2</td>
                  <td class="quest3" style="min-width: 150px;" align="right">$q3</td>
                  <td class="quest4" style="min-width: 150px;"align="right">$q4</td>
                  </tr>
                </tbody>
              </table>
            </div>
        <script>
          var options = {
            valueNames: ['codigo','nome','quest1','quest2','quest3','quest4']
          };
          var userList = new List('disciplinas', options);
        </script>
      </div>
    </div>
  </div>
    $:Render.footer()
  </body>
</html>
