$def with (SemesterInst, Render)

$ S = sessionmaker(bind=DB)()

$ ThisOfferings = S.query(Offering).filter(Offering.semester == SemesterInst)

$ Questions = S.query(QuestionsOffering)


<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - $(SemesterInst.sem)s$SemesterInst.year</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar()
    <!-- Begin page content -->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>Busca de oferecimentos para o
          $SemesterInst.semº semestre de $SemesterInst.year</h3>
        </div>
        <div class="col-sm-3">
          <ol class="list-unstyled">
              <li> <b>A</b> Planejamento da Bibliografia  </li>
              <li> <b>B</b> Didática  </li>
              <li> <b>C</b> Interesse pelo Aluno  </li>
          </ol>
        </div>
        <div class="col-sm-3">
          <ol class="list-unstyled">
              <li> <b>D</b> Relacionamento com alunos  </li>
              <li> <b>E</b> Adequação da avaliação   </li>
              <li> <b>F</b> Contribuição para aprendizado  </li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div id="oferecimentos">
          <input type="text" class="search" placeholder="Busca"> <br>
<!--          <span class="input-group-btn">-->
<!--            <button class="btn btn-default" type="button"></button>-->
<!--          </span>-->
          <div class="row scrollable-area" style="overflow-y: scroll; height:390px;">
            <table class="table table-striped table-condensed sortable">
                <thead>
                  <tr>
                    <th style="min-width: 100px;">Código</th>
                    <th style="min-width: 250px;">Docente</th>
                    <th style="min-width: 35px;"> A </th>
                    <th style="min-width: 35px;"> B </th>
                    <th style="min-width: 35px;"> C </th>
                    <th style="min-width: 35px;"> D </th>
                    <th style="min-width: 35px;"> E </th>
                    <th style="min-width: 35px;"> F </th>
                  </tr>
                </thead>
                <tbody class="list">
                $for Line in ThisOfferings:
                  $ URL = Line.EncodeURL()
                  $ Code = '%s %s' % (Line.subject.code, Line.code)
                  $ Sem = '%ss%s' % (Line.semester.sem, Line.semester.year)
                  $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Line.id)
                  $ Rated = 0
                  $for Lin in SearchRate:
                    $ Rate = Lin
                    $ Rated = 1
                  <tr>
                    <td style="min-width: 100px;"><a class = "codigo black-link" href="$URL">$Code</a></td>
                    <td><a class = "docente black-link" href="$Line.teacher.EncodeURL()">$Line.teacher.name</a></td>
                    $if Rated:
                      <td>$Rate.question1</td>
                      <td>$Rate.question2</td>
                      <td>$Rate.question3</td>
                      <td>$Rate.question4</td>
                      <td>$Rate.question5</td>
                      <td>$Rate.question6</td>
                    $else:
                      $for i in range(0,6):
                        <td> - </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <script>
          var options = {
            valueNames: ['codigo', 'docente']
          };
          var userList = new List('oferecimentos', options);
        </script>
      </div>
    </div>
    $:Render.footer()
  </body>
</html>
