$def with (SemesterInst, Render)
$ S = sessionmaker(bind=DB)()
$ ThisOfferings = S.query(Offering).filter(Offering.semester == SemesterInst)

<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - $SemesterInst.sem s $SemesterInst.year</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar()
    <!-- Begin page content -->
    <div class="container">
      <div class="col-sm-7">
        <h3>Busca de oferecimentos para o $SemesterInst.semº semestre de $SemesterInst.year</h3>
        <div id="oferecimentos">
          <input type="text" class="search" placeholder="Busca">
<!--          <span class="input-group-btn">-->
<!--            <button class="btn btn-default" type="button"></button>-->
<!--          </span>-->
          <table class="searchtable">
            <thead>
              <tr>
                <th style="min-width: 100px;">Código</th>
                <th style="min-width: 450px;">Nome</th>
                <th style="min-width: 300px;">Docente</th>
              </tr>
            </thead>
            <tbody class="list">
            $for Line in ThisOfferings:
              $ URL = Line.EncodeURL()
              $ Code = '%s %s' % (Line.subject.code, Line.code)
              $ Sem = '%ss%s' % (Line.semester.sem, Line.semester.year)
              $ ID = '%s' % (Line.id)
              <tr>
                <td style="min-width: 100px;">
                  <p class="codigo"><a href="$URL">$Code</a></p>
                </td>
                <td style="min-width: 550px;">
                  <p class="nome"><a href="$URL">$Line.subject.name</a></p>
                </td>
                <td>
                  <p class="docente"><a href="$Line.teacher.EncodeURL()">$Line.teacher.name</a></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <script>
          var options = {
            valueNames: ['codigo','nome', 'docente']
          };
          var userList = new List('oferecimentos', options);
        </script>
      </div>
    </div>
    $:Render.footer()
  </body>
</html>
