$def with (TeacherInst, Render)

$ S = sessionmaker(bind=DB)()

$ ThisOfferings = S.query(Offering).filter(Offering.teacher == TeacherInst) #.order_by(Offering.semester.year, Offering.semester.sem)

$ ThisComments = S.query(TeacherComment).filter(TeacherComment.teacher == TeacherInst) #.order_by(Offering.semester.year, Offering.semester.sem)



<!DOCTYPE html>
<html>
  <head>
    $:Render.includes()
    <title>$BaseTitle - $TeacherInst.name</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    $:Render.navbar()
    <!-- Begin page content -->
    <div class="container">
      <h2>$TeacherInst.name </h2>
      <div class="row">
        <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">Avaliação GDA</div>
              <table class="table">
                <tbody>
                  <tr>
                    <td> A bibliografia recomendada foi adequada? </td>
                    <td> Sim (86%) </td>
                    <td> 25 votos</td>
                  </tr>
                  <tr>
                    <td> Como você avalia a didática do professor? </td>
                    <td> Boa (75%) </td>
                    <td> 26 votos</td>
                  </tr>
                  <tr>
                    <td> O professor se preocupou em tornar as aulas interessantes? </td>
                    <td> Sim (90%)  </td>
                    <td> 20 votos</td>
                  </tr>
                  <tr>
                    <td> O professor se mostrou acessível para tirar dúvidas? </td>
                    <td> Sim (82%)  </td>
                    <td> 15 votos</td>
                  </tr>
                  <tr>
                    <td> As avaliações foram coerentes? </td>
                    <td> Não (66%)  </td>
                    <td> 18 votos</td>
                  </tr>
                  <tr>
                    <td> Ir às aulas foi importante? </td>
                    <td> Não (53%)  </td>
                    <td> 27 votos</td>
                  </tr>
                  <tr>
                    <td> Como você avalia a dificuldade inerente ao professor? </td>
                    <td> Alta (82%) </td>
                    <td> 22 votos</td>
                  </tr>
                  <tr>
                    <td> Faria outra disciplina com este professor? </td>
                    <td> Sim (59%)  </td>
                    <td> 30 votos</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">Comentários</div>
            <div class="panel-body" style="overflow-y: scroll; height:313px;">$:Render.comments(ThisComments)</div>
          </div>
        </div>
      </div>
      <div id = 'oferecimentos'>
        <div class="row">
          <div class="col-sm-4">
            <h2>Oferecimentos FEEC</h2>
          </div>
          <div class="col-sm-4">
            <br>
            <input type="text" class="search" placeholder="Busca por disciplina">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <table class="table table-striped table-condensed sortable">
              <thead>
                <tr>
                  <th style="min-width: 100px;">Semestre</th>
                  <th style="min-width: 70px;">Turma</th>
                  <th style="min-width: 120px;">Matriculados</th>
                  <th style="min-width: 120px;">Disciplina</th>
                  <th style="min-width: 35px;"> A </th>
                  <th style="min-width: 35px;"> B </th>
                  <th style="min-width: 35px;"> C </th>
                  <th style="min-width: 35px;"> D </th>
                  <th style="min-width: 35px;"> E </th>
                  <th style="min-width: 35px;"> F </th>
                </tr>
              </thead>
              <tbody class="list">
              $for Line in ThisOfferings:
                $ URL = Line.EncodeURL()
                $ Code = '%s' % (Line.code)
                $ Enrolled = '%s' % (Line.students)
                $ Sem = '%ss%s' % (Line.semester.sem, Line.semester.year)
                $ SearchRate = S.query(OfferingRate).filter(OfferingRate.offering_id == Line.id)
                $ Rated = 0
                $for Lin in SearchRate:
                  $ Rate = Lin
                  $ Rated = 1
                <tr>
                  <td style="min-width: 100px;"><a class="black-link" href="$URL">$Sem</a></td>
                  <td>$Code</td>
                  <td>$Enrolled</td>
                  <td><a class="codigo" href="$Line.subject.EncodeURL()">$Line.subject.code</a></td>
                  $if Rated:
                    <td>$Rate.question1</td>
                    <td>$Rate.question2</td>
                    <td>$Rate.question3</td>
                    <td>$Rate.question4</td>
                    <td>$Rate.question5</td>
                    <td>$Rate.question6</td>
                  $else:
                    $for i in range(0,6):
                      <td> - </td>
                </tr>
              </tbody>
            </table>
            <script>
              var options = {
                valueNames: ['codigo']
              };
              var userList = new List('oferecimentos', options);
            </script>
          </div>
          <div class="col-sm-3">
            <ol class="list-unstyled">
                <li> <b>A</b> Planejamento da Bibliografia  </li>
                <li> <b>B</b> Didática  </li>
                <li> <b>C</b> Interesse pelo Aluno  </li>
                <li> <b>D</b> Relacionamento com alunos  </li>
                <li> <b>E</b> Adequação da avaliação   </li>
                <li> <b>F</b> Contribuição para aprendizado  </li>
              </ol>
          </div>
        </div>
      </div>
    </div>
    $:Render.footer()
  </body>
</html>
